asgiref==3.8.1
babel==2.16.0
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.1.15
django-appconf==1.0.6
django-compressor==4.5.1
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-imagekit==6.0.0
django-ranged-response==0.2.0
django-simple-captcha==0.6.0
idna==3.8
pilkit==3.0
pillow==12.1.1
psycopg2-binary==2.9.10
rcssmin==1.1.2
requests==2.32.4
rjsmin==1.2.2
setuptools==80.10.2
sorl-thumbnail==12.10.0
sqlparse==0.5.4
urllib3==2.6.3
whitenoise==6.7.0
