body.dark-theme {
    background-color: #333333;
    color: #d1cfcf;
}
body.dark-theme .article-panel  {
    background: #333333;
    color: #d1cfcf;
    border: 1px solid #333333;
}
body.dark-theme .list-articles li {
    background-color: #333333;
    color: #d1cfcf;
    border: 1px solid #929090;
}
body.dark-theme .index-descr {
    color: #d1cfcf;
}
body.dark-theme .header {
    background: #333333;
}
body.dark-theme ul.mainmenu li a {
    color: #d1cfcf;
}
body.dark-theme ul.mainmenu li a:hover { color: #d600ff; }

body.dark-theme .ul.mainmenu {
    background: #333333;
}
body.dark-theme .mainmenu .selected a {
    color: #d600ff;
}

body.dark-theme .left-chapters {
    background: #333333;
}
body.dark-theme .left-chapters ul li a {
    color: #d1cfcf;
}

body.dark-theme .left-chapters ul li a:hover { color: #d600ff; }

body.dark-theme .content-text {
    color: #d1cfcf;
}
body.dark-theme #footer {
    color: #d1cfcf;
    background: #333333;
    border-top: 1px solid #f9f2fa;
}
body.dark-theme .content {
    background: #333333;
}
body.dark-theme .post-container {
    background-color: #333333;
    border: 1px solid #929090;
}
body.dark-theme .my-posts-container {
    background-color: #333333;
    border: 1px solid #333333;
}
body.dark-theme .form-container {
    border: 1px solid #333333;
}
body.dark-theme .about-container {
    border: 1px solid #929090;
    background-color: #333333;
}
body.dark-theme .policy-container {
    background-color: #333333;
    border: 1px solid #929090;
}
body.dark-theme .form-help-text {
    color: #d1cfcf;
}
body.dark-theme .form-input {
    border: 1px solid #333333;
    background: #e8e7e7;
}
body.dark-theme #id_content,
body.dark-theme #id_slug,
body.dark-theme #id_care,
body.dark-theme #id_living_conditions,
body.dark-theme #id_name,
body.dark-theme #id_email,
body.dark-theme #id_captcha_1 {
    background: #e8e7e7;
    border: 1px solid #333333;
}

body.dark-theme #id_cat,
body.dark-theme #id_coat_type,
body.dark-theme #id_size,
body.dark-theme #id_trainability,
body.dark-theme #id_activity_level,
body.dark-theme #file-upload-button {
    background: #e8e7e7;
    border: 1px solid #333333;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23444444" d="M2 3L0 0h4L2 3z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 8px;
    width: auto;
}
body.dark-theme #id_photo {
    background: #e8e7e7;
    border: 1px solid #333333;
    color: #000000;
}
body.dark-theme #scroll-to-top {
    color: #d1cfcf;
}
body.dark-theme .logo {
	background: url('../images/logo-dark.png') no-repeat 15px 5px;
}
body.dark-theme #theme-toggle {
    color: #d1cfcf;
}
body.dark-theme .title-link {
    text-decoration: none; /* Убирает подчеркивание */
    color: #d1cfcf; /* Цвет ссылки */
}

body.dark-theme .title-link:hover {
    text-decoration: none; /* Убирает подчеркивание при наведении */
    color: #d600ff; /* Цвет ссылки при наведении */
}


@media screen and (max-width: 767px) {
    body.dark-theme .logo {
        background: url('../images/logo-darkmini.png') no-repeat 2px 2px;
        width: 50px;  /* Уменьшаем ширину логотипа */
        height: 50px; /* Уменьшаем высоту логотипа */
        background-size: contain; /* Подгоняем размер фона под новый размер */
    }
    body.dark-theme  .menu__btn > span,
    body.dark-theme  .menu__btn > span::before,
    body.dark-theme  .menu__btn > span::after {
        background-color: #d600ff;
    }
    body.dark-theme .menu__box {
        box-shadow: 1px 0px 10px #707070;
        border: 1px solid #d1cfcf;
        background-color: #333333;
    }
    body.dark-theme .menu__item {
        color: #d1cfcf;
    }
    body.dark-theme .menu__item:hover {
        background-color: #333333;
    }
    body.dark-theme .menu__item.selected {
        background-color: #333333;
    }
}