/* Dark theme */
body.dark-theme {
    --color-bg: #161616;
    --color-surface: #1e1e1e;
    --color-text-primary: #b0b0b0;
    --color-text-secondary: #b0b0b0;

    --color-pistachio-soft: #2b2b2b;
    --color-pistachio: #2f7f72;
    --color-pistachio-dark: #6e8b7a;

    --color-accent: #7670fa;
    --color-accent-soft: #d46e43;

    --color-border: #2a2a2a;
    --color-shadow: rgba(0, 0, 0, 0.5);
}

/* Backgrounds and text */
body.dark-theme,
body.dark-theme html {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    background-image:
    /* мелкие звезды */
    radial-gradient(1px 1px at 10% 20%, rgba(255,255,255,0.9), transparent),
    radial-gradient(1px 1px at 25% 80%, rgba(255,255,255,0.7), transparent),
    radial-gradient(1px 1px at 40% 40%, rgba(255,255,255,0.6), transparent),
    radial-gradient(1px 1px at 60% 10%, rgba(255,255,255,0.8), transparent),
    radial-gradient(1px 1px at 75% 65%, rgba(255,255,255,0.5), transparent),
    radial-gradient(1px 1px at 90% 30%, rgba(255,255,255,0.7), transparent),

    /* средние звезды */
    radial-gradient(2px 2px at 15% 60%, rgba(255,255,255,0.9), transparent),
    radial-gradient(2px 2px at 35% 15%, rgba(255,255,255,0.8), transparent),
    radial-gradient(2px 2px at 55% 75%, rgba(255,255,255,0.7), transparent),
    radial-gradient(2px 2px at 80% 50%, rgba(255,255,255,0.85), transparent),

    /* крупные редкие звезды */
    radial-gradient(3px 3px at 20% 90%, rgba(255,255,255,0.9), transparent),
    radial-gradient(3px 3px at 70% 25%, rgba(255,255,255,0.8), transparent);

    background-repeat: repeat;
    background-size:
    400px 400px,
    350px 350px,
    300px 300px;
}

body.dark-theme a {
    color: var(--color-accent);
}

body.dark-theme .nav-main li a {
    color: var(--color-text-primary);
}

body.dark-theme .nav-main li a:hover {
    color: var(--color-accent);
}

body.dark-theme .nav-main li.is-active a {
    color: var(--color-accent);
}

body.dark-theme a:hover {
    color: var(--color-accent-soft);
}

body.dark-theme .layout-content {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    background-image:
        radial-gradient(1px 1px at 20% 30%, rgba(255,255,255,0.8), transparent),
        radial-gradient(1px 1px at 70% 80%, rgba(255,255,255,0.6), transparent),
        radial-gradient(2px 2px at 40% 60%, rgba(255,255,255,0.9), transparent),
        radial-gradient(1px 1px at 90% 20%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 10% 90%, rgba(255,255,255,0.8), transparent);

    background-repeat: repeat;
    background-size: 300px 300px;
}

body.dark-theme .sidebar-nav {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    background-image:
        radial-gradient(1px 1px at 20% 30%, rgba(255,255,255,0.8), transparent),
        radial-gradient(1px 1px at 70% 80%, rgba(255,255,255,0.6), transparent),
        radial-gradient(2px 2px at 40% 60%, rgba(255,255,255,0.9), transparent),
        radial-gradient(1px 1px at 90% 20%, rgba(255,255,255,0.7), transparent),
        radial-gradient(2px 2px at 10% 90%, rgba(255,255,255,0.8), transparent);

    background-repeat: repeat;
    background-size: 300px 300px;
}

body.dark-theme .mobile-menu__item a {
    color: var(--color-text-secondary);
}

body.dark-theme .mobile-menu__item a:hover {
    color: var(--color-accent);
}

body.dark-theme .mobile-menu__item.is-active a {
    color: var(--color-accent);
}

body.dark-theme .mobile-menu__item a::before {
    background: var(--color-accent);
}

body.dark-theme .pagination__item a,
body.dark-theme .pagination__item {
    background: #2a2a2a;
    color: var(--color-text-primary);
}

body.dark-theme .pagination__item--active {
    background: var(--color-accent);
    color: #fff;
}

body.dark-theme .dog-card {
    background: var(--color-surface);
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

body.dark-theme .dog-card-title,
body.dark-theme .dog-card__info {
    color: var(--color-text-primary);
}

body.dark-theme .dog-card-link:hover .dog-card__title,
body.dark-theme .dog-card-title:hover {
    color: var(--color-accent);
}

body.dark-theme .post-container,
body.dark-theme .post-text,
body.dark-theme .post-params,
body.dark-theme .breadcrumbs .current {
    color: var(--color-text-primary);
}

body.dark-theme .btn-back,
body.dark-theme .post-date {
    color: #fff;
}

body.dark-theme .btn-back:hover {
    background-color: var(--color-accent-soft);
}

.dark-theme #theme-switch__icon {
    color: #F8F8F8;
}

body.dark-theme #scroll-top-button {
    color: var(--color-accent);
    background: rgba(0, 0, 0, 0.2);
}

body.dark-theme .site-footer {
    background: var(--color-pink);
    color: var(--color-text-secondary);
}

body.dark-theme .footer-links a {
    color: var(--color-accent);
}

body.dark-theme .homepage-left,
body.dark-theme .homepage-right {
    color: var(--color-text-primary);
}

body.dark-theme .homepage-text,
body.dark-theme .breadcrumbs,
body.dark-theme .dog-card__title,
body.dark-theme .form-label,
body.dark-theme .consent-label {
    color: var(--color-text-primary);
}

body.dark-theme .homepage-text-1 .highlight { color: var(--color-accent); }
body.dark-theme .homepage-text-2 .highlight { color: var(--color-accent); }


body.dark-theme .homepage-wave {
    opacity: 0.8;
}

body.dark-theme .dog-card-img, body.dark-theme .dog-card__image {
    opacity: 0.8;
}

body.dark-theme .policy-container input[type="text"],
body.dark-theme .policy-container input[type="email"],
body.dark-theme .policy-container textarea {
    background: var(--color-surface);
}


body.dark-theme .homepage-search label {
    color: var(--color-accent);
}

body.dark-theme .homepage select {
    color: #f1f1f1;

    background: linear-gradient(
        145deg,
        rgba(40,40,40,0.95),
        rgba(30,30,30,0.9)
    );

    box-shadow:
        8px 8px 20px rgba(0,0,0,0.6),
        -6px -6px 16px rgba(60,60,60,0.4),
        inset 0 0 0 1px rgba(255,255,255,0.05);
}

body.dark-theme .homepage select {
    background-image:
        linear-gradient(45deg, transparent 50%, #cfcfcf 50%),
        linear-gradient(135deg, #cfcfcf 50%, transparent 50%);
    background-position:
        calc(100% - 18px) calc(50% + 3px),
        calc(100% - 11px) calc(50% + 3px);
    background-size: 7px 7px, 7px 7px;
    background-repeat: no-repeat;
}

body.dark-theme .homepage select:hover {
    transform: translateY(-1px);
    box-shadow:
        6px 6px 15px rgba(0,0,0,0.7),
        -4px -4px 10px rgba(70,70,70,0.5),
        0 0 10px rgba(255,255,255,0.08);
}
body.dark-theme .homepage select:active {
    transform: translateY(0px);
    box-shadow:
        inset 4px 4px 12px rgba(0,0,0,0.7),
        inset -4px -4px 12px rgba(70,70,70,0.4);
}


body.dark-theme input,
body.dark-theme textarea {
    background-color: #1e1e1e;
    border: 1px solid #F8F8F8;
    color: #e0e0e0;
}

body.dark-theme input:focus,
body.dark-theme textarea:focus {
    border-color: var(--color-accent);
}

/* Modals */
body.dark-theme .modal-content {
    background: #1e1e1e;
}

/* Policies / lists */
body.dark-theme .num-list a {
    color: var(--color-accent);
}

body.dark-theme .bulleted-list li::marker {
    color: var(--color-accent);
}

body.dark-theme .dog-muted {
    color: #e9b795 !important;
}

body.dark-theme .images-rule {
    color: #747474;
}

body.dark-theme .dog-active {
    color: var(--color-accent) !important;
}

body.dark-theme .clear-filters-group .btn-filter {
    background: #1E1E1E;
    color: #fff;
}



