body.dark-theme {
    background-color: #333333;
    color: #d1cfcf;
}
body.dark-theme .article-panel  {
    background: #333333;
    color: #d1cfcf;
    border: 1px solid #333333;
}
body.dark-theme .list-articles li {
    background-color: #333333;
    color: #d1cfcf;
    box-shadow: rgba(150, 150, 150, 0.15) 0px 10px 15px -3px, rgba(150, 150, 150, 0.1) 0px 4px 6px -2px;
}
body.dark-theme .index-descr {
    color: #d1cfcf;
}
body.dark-theme .header {
    background: #333333;
}
body.dark-theme ul.mainmenu li a {
    color: #d1cfcf;
}
body.dark-theme ul.mainmenu li a:hover { color: #d600ff; }

body.dark-theme .ul.mainmenu {
    background: #333333;
}
body.dark-theme .mainmenu .selected a {
    color: #d600ff;
}

body.dark-theme .left-chapters {
    background: #333333;
}
body.dark-theme .left-chapters ul li a {
    color: #d1cfcf;
}

body.dark-theme .left-chapters ul li a:hover { color: #d600ff; }

body.dark-theme .content-text {
    color: #d1cfcf;
}
body.dark-theme #footer {
    color: #d1cfcf;
    background: #333333;
    border-top: 1px solid #f9f2fa;
}
body.dark-theme .content {
    background: #333333;
}
body.dark-theme .post-container {
    background-color: #333333;
    box-shadow: rgba(150, 150, 150, 0.15) 0px 10px 15px -3px, rgba(150, 150, 150, 0.1) 0px 4px 6px -2px;

}
body.dark-theme .my-posts-container {
    background-color: #333333;
    box-shadow: rgba(150, 150, 150, 0.15) 0px 10px 15px -3px, rgba(150, 150, 150, 0.1) 0px 4px 6px -2px;
}
body.dark-theme .form-container {
    border: 1px solid #333333;
}
body.dark-theme .about-container {
    background-color: #333333;
    box-shadow: rgba(150, 150, 150, 0.15) 0px 10px 15px -3px, rgba(150, 150, 150, 0.1) 0px 4px 6px -2px;
}
body.dark-theme .policy-container {
    background-color: #333333;
    box-shadow: rgba(150, 150, 150, 0.15) 0px 10px 15px -3px, rgba(150, 150, 150, 0.1) 0px 4px 6px -2px;
}
body.dark-theme .form-help-text {
    color: #d1cfcf;
}
body.dark-theme .form-input {
    border: 1px solid #333333;
    background: #e8e7e7;
}
body.dark-theme #id_content,
body.dark-theme #id_slug,
body.dark-theme #id_care,
body.dark-theme #id_living_conditions,
body.dark-theme #id_name,
body.dark-theme #id_email,
body.dark-theme #id_captcha_1 {
    background: #e8e7e7;
    border: 1px solid #333333;
}

body.dark-theme #id_cat,
body.dark-theme #id_coat_type,
body.dark-theme #id_size,
body.dark-theme #id_trainability,
body.dark-theme #id_activity_level,
body.dark-theme #id_coat_length,
body.dark-theme #id_barking_level,
body.dark-theme #file-upload-button {
    background: #e8e7e7;
    border: 1px solid #333333;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23444444" d="M2 3L0 0h4L2 3z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 8px;
    width: auto;
}
body.dark-theme #id_photo {
    background: #e8e7e7;
    border: 1px solid #333333;
    color: #000000;
}
body.dark-theme #scroll-to-top {
    color: #d1cfcf;
}
body.dark-theme .letter-d {
    color: #d1cfcf; /* Замените на нужный цвет для буквы D */
}
body.dark-theme #theme-toggle {
    color: #d1cfcf;
}
body.dark-theme .title-link {
    text-decoration: none;
    color: #d1cfcf;
}

body.dark-theme .title-link:hover {
    text-decoration: none;
    color: #d600ff;
}
body.dark-theme .consent-label a {
    color: #d1cfcf;
    text-decoration: none;
}

body.dark-theme .consent-label a:hover {
    color: #d600ff;
}
body.dark-theme #id_confirm_privacy {
    background: #e8e7e7;
}

.last-updated {
    color: #7d7c7c;
}

@media screen and (max-width: 767px) {

    body.dark-theme  .menu__btn > span,
    body.dark-theme  .menu__btn > span::before,
    body.dark-theme  .menu__btn > span::after {
        background-color: #d600ff;
    }
    body.dark-theme .menu__box {
        border: 1px solid #d1cfcf;
        background-color: #333333;
    }
    body.dark-theme .menu__item {
        color: #d1cfcf;
    }
    body.dark-theme .menu__item:hover {
        background-color: #333333;
    }
    body.dark-theme .menu__item.selected {
        background-color: #333333;
    }
}