@media (min-width: 300px) and (max-width: 1024px) {
    .site-footer { padding: 15px; margin: 60px 0 0; }

    .footer-block p { text-align: center; }

    .nav-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 0 10px;
        margin: 0;
        height: 56px;
    }

    .nav-left { gap: 5px; display: none; }

    .site-header { left: 0; right: 0; }

/*    .layout-container::after {
        content: '';
        position: absolute;
        right: 0;
        top: 76px;
        width: 50px;
        height: 62px;
        pointer-events: none;

        background: linear-gradient(
            to left,
            rgba(255,255,255,0.95),
            rgba(255,255,255,0)
        );
    }

    .layout-container::before {
        content: '';
        position: absolute;
        left: 0;
        top: 76px;
        width: 50px;
        height: 62px;
        pointer-events: none;

        background: linear-gradient(
            to right,
            rgba(255,255,255,0.95),
            rgba(255,255,255,0)
        );
        z-index: 2;
    }*/


    .post-header {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        margin: 0 0 10px;
    }

    .logo-text { font-size: 20px; }

    .homepage { flex-direction: column; margin: 0; padding: 0; width: 100%; }
    .homepage-title-1 {
        margin: 0;
        padding: 0 10px;
        font-size: 40px;
    }

    .home-text-block { min-height: 230px; }
    .home-text-block-title { font-size: 30px; }

    .homepage-subtitle { font-size: 14px; }

    .homepage-subtitle { padding: 0 10px; }
    .hero-inner { gap: 20px; grid-template-columns: 1fr; text-align: center; }
    .hero-left { max-width: 100%; align-items: center; margin: 0 auto; }
    .hero-right { min-height: 200px; }
    .dog { position: absolute; }

    .dog-1 { top: 55%; left: 6%; width: 90px; }
    .dog-2 { top: -10%; right: 4%; width: 85px; clip-path: inset(0 0 0 5px);}
    .dog-3 { top: 60%; right: 0; width: 100px; clip-path: inset(0 10px 0 15px);}
    .dog-4 { top: 0; left: 0; width: 120px; clip-path: inset(0 10px 0 15px);}

    .hero-block { background: none; min-height: calc(80vh - 10px);}

    .hero-icon { font-size: 2.7rem; }

    .hero-content { gap: 10px; }
    .homepage-search-block { flex-direction: column; }

    .homepage-search { width: 300px; height: 150px; }

        .flags-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 4;
}

.flags-mobile span {
  flex: 1;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  opacity: 0.3;
}

.flags-mobile span:nth-child(4n+1) { background: #ff4d4d; }
.flags-mobile span:nth-child(4n+2) { background: #FF8EED; }
.flags-mobile span:nth-child(4n+3) { background: #06d6a0; }
.flags-mobile span:nth-child(4n+4) { background: #4d96ff; }
.flags-desktop { display: none; }

    .homepage-search label { font-size: 26px; }

    .homepage select {
        width: 190px;
        padding: 14px 45px 14px 20px;
        font-size: 15px;
    }

    .home-showcase {
        flex-direction: column;
        gap: 20px;
        min-height: auto;
    }

    .slider-inner { margin: 0; width: calc(100vw - 20px); }
    .homepage .slider-block { padding: 0 10px; }
    .js-slider {
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x pan-y;
}

    .dog-slider {
        display: flex;
        margin: 20px 0 0;
        gap: 10px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-bottom: 30px;
    }



    .dog-slider .dog-card-link {
        flex: 0 0 220px;
        scroll-snap-align: center;
        background-image: radial-gradient(#999 0.8px, transparent 0.8px);
    }

    .dog-stack { width: 150px; height: 150px; }

    .dog-img { width: 150px; height: 150px; top: 55%}

    .dog-stack.left { left: 0px; top: 80px; }

    .dog-stack.right { right: 140px; top: 90px; }

    .burger {
        display: block;
        text-align: end;
        padding-right: 15px;
        z-index: 9999;
    }

    .burger i { font-size: 32px; }

    .sidebar-nav {
        position: fixed;
        display: flex;
        padding: 20px 15px 30px;
        top: 55px;
        left: 50%;
        justify-content: center;
        transform: translateX(-50%);
        width: calc(100% - 30px);
        background: var(--color-white);
        box-sizing: border-box;
        z-index: 9998;
        opacity: 0;
        pointer-events: none;
        overflow-y: auto;
    }

    .sidebar-nav.active {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
        pointer-events: auto;
        text-align: center;
        box-shadow: 8px 8px 0 0 var(--color-header-footer);
        border: 2px solid var(--color-frame);
    }



    .explore-layout { grid-template-columns: 1fr; }
    .contact-layout { grid-template-columns: 1fr; }

    .policy-container { font-size: 14px; }

    .mobile-menu__list--top a { font-size: 16px; }

    .mobile-menu__list--top {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 0;
        padding-bottom: 10px;
        font-family: "Space Grotesk", sans-serif;
        list-style: none;
        border-bottom: 0.5px solid var(--color-frame);
    }

    .mobile-menu__list--top .mobile-menu__item { margin: 0; }
    .mobile-menu__list {
        list-style: none;
        padding: 20px 0 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

.mobile-menu__item a {
    font-size: 15px;
    display: block;
    border-radius: var(--radius-container);
    color: var(--color-text-primary);
    position: relative;
    transition: var(--transition-base);
    font-family: "Space Grotesk", sans-serif;
}

.form-check-wrapper { width: 100%; }

.hero-inner-contact { grid-template-columns: 1fr; gap: 20px; }
.policy-container form p,
.form-check-wrapper { width: 100%; }
#btn-custom { margin: 0 0 10px; }

.mobile-menu__item a:hover, .footer-links a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--color-accent);
    color: var(--color-accent);
}

.mobile-menu__item.is-active a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--color-accent);
    color: var(--color-accent);
    font-weight: 600;
}

    body.sidebar-open { overflow: hidden; }

    .layout-container { display: flex; padding: 75px 10px 15px; margin: 0; width: 100%;}
    .layout-content { padding: 0; width: 100%; }


    .breadcrumbs, .breadcrumbs-mobile {
        font-size: 11px;
        padding: 0;
        margin: 0;
        height: 30px;
        line-height: 1.1;
        }

    /* dogs_list */
/*.dogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.dogs-container::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background-image:
    linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);

    background-size: 30px 30px;
}


.dogs-container .dog-card-link {
    width: 260px;
    height: 332px;
    display: block;
}

.dogs-container .dog-card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.dogs-container .dog-card__image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}*/

.dog-card__image { height: 220px; }


    .post-title {
        font-size: 32px;
        padding: 0;
        line-height: 1.3;
        text-align: left;
        margin: 10px 0 20px;
    }

    .post-title-cat {
        font-size: 32px;
        padding: 0;
        line-height: 1.3;
        text-align: left;
        margin: 10px 0 20px;
    }

    .category-scroll { gap: 20px; }
    .category-chip { height: 42px; }
    .category-chip__text {font-size: 11px; }
    .category-chip:hover,
    .category-chip.active { -webkit-text-stroke: 0.5px #000; }


    p {
        font-size: 14px;
        padding: 0;
        line-height: 1.7;
        margin-bottom: 20px;
        text-align: justify;
    }

    h2 { font-size: 20px; }

    .num-list { grid-template-columns: 1fr; }

    /* post */
    .post-container { padding: 0; }

    .breadcrumbs-wrapper {
        font-size: 16px;
        padding: 0;
        margin: 0 0 5px 0;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }

.desktop-text { display: none; }

.mobile-text { display: inline;  }

    .post-navigation { gap: 20px; width: 100%; order: -1; }
    .post-navigation .nav-link {
        flex: 1 1 0;
        display: flex;
        align-items: center;
        min-width: 0;
        padding: 3px 10px;
    }

    .post-navigation .nav-link span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 1;
        min-width: 0;
        font-size: 13px;
    }

    .post-navigation .nav-link i {
        flex-shrink: 0;
    }


    .post-media {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .post-main-image,
    .post-image {
        width: 100%;
        height: 450px;
        object-fit: cover;
        cursor: pointer;
        background-image: radial-gradient(#999 0.8px, transparent 0.8px);
    }

    .photo-author { font-size: 14px; margin-top: 5px; }

    #modal-author { font-size: 14px; }

    .post-right {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .tooltip-text {
        right: 0;
        left: auto;
        transform: none;
        width: 200px;
        white-space: normal;
    }

    .images-rule { margin: 15px 0; font-size: 12px; }

    .dog-groups { width: 100%; margin-top: 30px; }
    .group-content { margin: 5px; }
    .group-content li { margin: 0; }
    .group-content ul {
        grid-template-columns:
        repeat(2, 1fr);
        padding: 0;
        text-align: center;
        width: 100%;
        gap: 10px;
    }

    .modal-arrow.prev, .modal-arrow.next { top: 50%; }

    .breed-char, .section-title {
        font-size: 20px;
        margin: 10px 0;
        text-align: left;
    }

    .post-params-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .post-params-grid p { text-align: start; font-size: 14px;}

    .post-params-grid i {
        font-size: 1rem;
        margin-right: 5px;
    }

    .mini-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin-bottom: 10px;
    }

    .gallery-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        background-image: radial-gradient(#999 0.8px, transparent 0.8px);
    }

    .post-text, .post-text-explore {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }

    .post-colors { font-size: 14px; margin: 2px 0 20px; }
    .catalog-structure { grid-template-columns: 1fr; }

  .group-row { grid-template-columns: 100px 1fr; height: auto; }


    .updated { padding-top: 10px; }

    .home-showcase-left { padding: 10px 0; }

    .home-showcase .home-showcase-left {
        padding: 10px 10px;
    }

    .dog-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .dog-card { width: 220px;  height: 300px; }

    .dog-card__title {
        margin: 0;
    }

    .modal-content { max-height: 550px; width: 100%; }

    #modal-img {
        background-image: radial-gradient(#525252 0.8px, transparent 0.8px);
        background-size: 4px 4px;
    }

    #theme-switch__icon { font-size: 1.8rem; }

    .nav-2 { display: block; }

    #scroll-top-button {
        right: 10px;
        padding: 5px 10px;
        bottom: 0;
        font-size: 2.5rem;
    }

    .close {
        font-size: 21px;
        top: 1px;
        right: 10px;
    }

    .modal-arrow { display: none !important; }

    .group-title { width: 100%; }

    .circle-1 { top: -1%; right: 20px; width: 25px; height: 25px; }
    .circle-2 { top: 1%; right: 20%; width: 25px; height: 25px; }
    .circle-3 {
        top: 780px;
        right: 2%;
        opacity: 0.6;
        width: 25px;
        height: 25px; }

    .circle-4 { top: 100%; left: 10%; opacity: 0.2; width: 25px; height: 25px; }

    .memphis-triangle {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid var(--color-button-background);
        filter: drop-shadow(3px 1px 0 var(--color-frame));
    }
    .triangle-1 { top: 8%; left: 100px; display: none; }
    .triangle-2 { top: 0; left: 80%; }
    .triangle-3 { top: 90%; right: 1%; opacity: 0.2; }
    .triangle-4 { top: 10%; left: 85%; opacity: 0.2; }

    .star-1 { top: 50%; left: 80%; width: 30px; }
    .star-2 { top: 75%; left: 5%; width: 30px; }
    .star-3 { top: 350px; right: 500px; opacity: 0.2; width: 30px; }
    .star-4 { top: 80%; left: 70%; opacity: 0.2; width: 30px; }


    .memphis-heart { width: 15px; height: 15px; }
    .memphis-heart::before,
    .memphis-heart::after { width: 15px; height: 15px; }
    .memphis-heart::before { top: -9px; left: 0; }
    .memphis-heart::after { top: 0; left: 9px; }
    .heart-1 { top: 90%; left: 80%; }
    .heart-2 { top: 80%; right: 15%; }
    .heart-3 { top: 78%; right: 90%; opacity: 0.2; }
    .heart-4 { bottom: 0; left: 250px; opacity: 0.2; }

    .half-1 { top: 500px; right: 400px; width: 30px; height: 15px; }
    .half-2 { top: 260px; left: 200px; width: 30px; height: 15px; }
    .half-3 { bottom: -20%; right: 10%; opacity: 0.2; width: 30px; height: 15px; }
    .half-4 { top: 420px; left: 250px; width: 30px; height: 15px; transform: translate(0, -18px) rotate(-90deg); opacity: 0.2; }

    .memphis-cloud { width: 40px; height: 11px; }
    .cloud-1 { top: 32%; left: 5%; position: absolute; }
    .cloud-2 { top: 100%; left: 5%; position: absolute; }
    .cloud-3 { bottom: -29%; right: 55%; position: absolute; opacity: 0.2; }
    .cloud-4 { top: 420px; left: 220px; position: absolute; opacity: 0.2; }


}


@media (min-width: 768px) and (max-width: 1025px) {
    .gallery-grid { grid-template-columns: repeat(2, 1fr);  }

    .hero-block { min-height: calc(60vh - 10px); }


    .dog-1 { width: 170px; }
    .dog-2 { top: 40%; width: 170px; }


    .dog-3 { right: -15px; width: 200px; }
    .dog-4 { left: 80%; width: 200px; }

    .layout-container { padding: 85px 40px 15px; }
    .nav-main { padding: 0 15px 0 40px; }
    .dogs-container { grid-template-columns: repeat(3, 1fr); }
    .post-main-image, .post-image { margin: 0 auto; height: 600px; width: auto; }
    .post-params-grid { grid-template-columns: repeat(2, 1fr); gap: 5px; }
    .mini-gallery { display: grid; grid-template-columns: repeat(4, 1fr); }
    .dog-card { height: 300px; }
    p { font-size: 18px; }
    .dog-slider .dog-card-link { flex: 0 0 230px; }
    .post-navigation .nav-link { flex: 0 0 220px; padding: 5px 10px; width: 220px; font-size: 16px; }
    .post-navigation { font-size: 1rem; justify-content: center;}
    .post-title, .post-title-cat { font-size: 3.1rem; }
    .post-title-cat { padding-top: 20px; }
    .images-rule { font-size: 14px; }
    .site-header { background: rgba(255, 255, 255, 0.3); backdrop-filter: blur(7px); }
    .close { font-size: 26px; }
    .breadcrumbs, .breadcrumbs-mobile { font-size: 16px; }
    .group-content ul { padding: 0 25px; }
    .dogs-container { grid-template-columns: repeat(3, 1fr); }
    .heart-3 { top: 50%; right: 90%; }
    .star-3 { top: 20%; right: 80%; }
    .circle-3 { top: 60%; right: 2%; }
    .breed-char, .section-title { font-size: 24px; }
    .layout-container::before { top: 85px; width: 100px; }
    .layout-container::after { top: 85px; width: 100px; }
    .layout-content .dog-slider::after, .dog-slider::after { height: 317px; width: 90px; }
    .home-showcase .home-showcase-left { padding: 10px 30px 10px 30px; }
    .sidebar-nav.active { top: 85px; }
}



