@media (max-width: 768px) {
    html, body {
        font-size: 14px; /* Уменьшите размер шрифта для мобильных устройств */
        text-align: left; /* Выравнивание текста по левому краю для лучшей читаемости */
    }
    ul.mainmenu li {
	    float: left;
	    margin: 18px 10px 0 10px;
    }
    ul.mainmenu {
	    font-size: 12px;
	}
	.left-chapters ul {
	    width: 130px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 0px 10px 20px 10px;
    }
    .logo {
	    background: url('../images/logo4.png') no-repeat 5px 5px;
	    width: 65px;
	    height: 50px;
    }
}
/* Медиа-запросы для мобильных устройств */
@media screen and (max-width: 344px) {
  html, body {
        font-size: 14px; /* Уменьшите размер шрифта для мобильных устройств */
        text-align: left; /* Выравнивание текста по левому краю для лучшей читаемости */
    }
    ul.mainmenu li {
	    float: left;
	    margin: 18px 10px 0 10px;
    }
    ul.mainmenu {
	    font-size: 12px;
	}
	.left-chapters ul {
	    width: 130px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 0px 10px 20px 10px;
    }
    .logo {
	    background: url('../images/logo4.png') no-repeat 5px 5px;
	    width: 65px;
	    height: 50px;
    }
}

@media screen and (max-width: 360px) {
  html, body {
        font-size: 14px; /* Уменьшите размер шрифта для мобильных устройств */
        text-align: left; /* Выравнивание текста по левому краю для лучшей читаемости */
    }
    ul.mainmenu li {
	    float: left;
	    margin: 18px 10px 0 10px;
    }
    ul.mainmenu {
	    font-size: 12px;
	}
	.left-chapters ul {
	    width: 130px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 0px 10px 20px 10px;
    }
    .logo {
	    background: url('../images/logo4.png') no-repeat 5px 5px;
	    width: 65px;
	    height: 50px;
    }
}

@media screen and (max-width: 399px) {
  html, body {
        font-size: 14px; /* Уменьшите размер шрифта для мобильных устройств */
        text-align: left; /* Выравнивание текста по левому краю для лучшей читаемости */
    }
    ul.mainmenu li {
	    float: left;
	    margin: 18px 10px 0 10px;
    }
    ul.mainmenu {
	    font-size: 12px;
	}
	.left-chapters ul {
	    width: 130px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 0px 10px 20px 10px;
    }
    .logo {
	    background: url('../images/logo4.png') no-repeat 5px 5px;
	    width: 65px;
	    height: 50px;
    }
}

@media screen and (max-width: 499px) {
  html, body {
        font-size: 14px; /* Уменьшите размер шрифта для мобильных устройств */
        text-align: left; /* Выравнивание текста по левому краю для лучшей читаемости */
    }
    ul.mainmenu li {
	    float: left;
	    margin: 18px 10px 0 10px;
    }
    ul.mainmenu {
	    font-size: 12px;
	}
	.left-chapters ul {
	    width: 130px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 0px 10px 20px 10px;
    }
    .logo {
	    background: url('../images/logo4.png') no-repeat 5px 5px;
	    width: 65px;
	    height: 50px;
    }
}

@media screen and (max-width: 767px) {
  html, body {
        font-size: 14px; /* Уменьшите размер шрифта для мобильных устройств */
        text-align: left; /* Выравнивание текста по левому краю для лучшей читаемости */
    }
    ul.mainmenu li {
	    float: left;
	    margin: 18px 10px 0 10px;
    }
    ul.mainmenu {
	    font-size: 12px;
	}
	.left-chapters ul {
	    width: 130px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 0px 10px 20px 10px;
    }
    .logo {
	    background: url('../images/logo4.png') no-repeat 5px 5px;
	    width: 65px;
	    height: 50px;
    }
}