
@media (max-width: 900px) {
    .nav-main {
        flex-direction: column;
        padding: 16px;
    }

    .nav-left, .nav-right {
        margin: 8px 0;
        gap: 16px;
    }

    .nav-logo {
        position: relative;
        left: auto;
        transform: none;
        margin: 12px 0;
    }
    .home-showcase {
        flex-direction: column;
        padding: 40px 20px;
    }

    .home-showcase-right {
        order: -1;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .post-main {
        flex-direction: column;
        align-items: center;
    }

    .post-image-wrapper {
        flex: 0 0 auto;
    }

    .post-params {
        width: 100%;
        text-align: center;
    }

    .homepage {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .homepage-left,
    .homepage-right {
        flex: 1 1 100%;
    }

    .homepage-text {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .homepage-dogs {
        max-width: 360px;
        top: -10px;
    }
}


@media (max-width: 600px) {
    .policy-container form p,
    .form-check-wrapper,
    .form-error {
        max-width: 100%;
    }
}
