:root {
/* Base */
--color-bg: #FFFFFF;
--color-white: #ffffff;
--color-text-primary: #1c2b27;
--color-text-secondary: #3f5b53;
--color-frame: #45494D;
--color-yellow: #FFC621;
--color-grey: #828282;

--color-header-footer: #D5B7F8;
--color-button-background: #D7FFC2;
--color-pistachio-dark: #1a4d44;

--color-accent: #000;
/*--color-accent: #625BFF;*/
--color-accent-soft: #ffb199;

  /* Accents */
  --shadow-offset-y: 1px;
  --shadow-blur: 2px;
  --shadow-color: rgba(0, 0, 0, 0.03);

  /* Radius */
  --radius-buttons: 8px;
  --radius-photos: 10px;
  --radius-container: 14px;
  --radius-lg: 22px;
  --radius-circle: 50%;

  /* Motion */
  --transition-base: transform 0.2s ease;
  --transform-base: scale(1.03);
}

/* GENERAL */
* { box-sizing: border-box; }


html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: var(--color-text-primary);
    font-family: "Baloo 2", system-ui, sans-serif;
    line-height: 1.8;
}

/** {
  outline: 1px solid red;
}*/

html { scroll-behavior: smooth; }
html { overflow-y: scroll; }

body { overflow-x: hidden; }

h1 { font-size: 2.4rem; margin: 0; }

a {
    color: inherit;
    text-decoration: none;
    transition: var(--transition-base);
}

a:hover { color: var(--color-accent); }

.layout-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-container {
    display: grid;
    flex: 1;
    grid-template-columns: 280px 1fr;
    gap: 32px;
    margin: 55px 40px 0 24px;
}

.layout-content {
    border-radius: var(--radius-container);
    padding-bottom: 32px;
    padding-top: 0px;
}

.breadcrumbs {
    font-size: 0.9rem;
    color: var(--color-text-primary);
    font-family: 'Baloo 2', sans-serif;
    padding-top: 14.4px;
}

.breadcrumbs a { color: var(--color-accent); transition: var(--transition-base); }

.breadcrumbs a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: var(--color-accent);
    color: var(--color-accent);
    transform: var(--transform-base); }

.breadcrumbs .current { color: var(--color-text-primary); }

.breadcrumbs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14.4px 0 0 0;
    gap: 20px;
}

/*.breadcrumbs-mobile {
    display: none;
}*/

.post-navigation {
    display: flex;
    gap: 15px;
    font-family: 'Baloo 2', sans-serif;
    font-size: 0.9rem;
}

.post-navigation .nav-link {
    color: var(--color-accent);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: var(--color-yellow);
    border-radius: var(--radius-container);
    padding: 3px 7px;
    box-shadow: 3px 3px 0 0 var(--color-header-footer);
    border: 1px solid var(--color-frame);
    border-right-width: 3px;
    border-bottom-width: 3px;
}

.post-navigation .nav-link:hover {
    color: var(--color-accent);
    transform: translateY(-1px);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    }

.post-navigation i, .btn-back i { position: relative; top: 2px; }

/* HEADER */
.site-header {
    position: fixed;
    left: 20px;
    right: 20px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px);
}

.mobile-menu__list--top {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  list-style: none;
}

.mobile-menu__list--top { display: none; }

.mobile-menu__list--top .mobile-menu__item { margin: 0; }

.nav-2 { display: none; }

/*.list-icon {
    filter: drop-shadow(2px 2px 0 var(--color-yellow))
            drop-shadow(2px 2px 0 #D5B7F8);
    font-size: 10px;
    }*/

.nav-main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    height: 55px;
}

/* --left menu-- */
.nav-left { justify-self: start; }

.nav-left-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
}

/* --logo-- */
.nav-logo { justify-self: center; }

.logo-text {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: "Bebas Neue", sans-serif;
}

.logo-letter--primary { color: var(--color-text-primary); }

.logo-letter--secondary { color: var(--color-text-primary); }

.nav-right { justify-self: end; }

.nav-left-list li a {
    font-weight: 500;
    color: var(--color-text-primary);
    text-decoration: none;
    padding: 8px 4px;
    font-size: 22px;
}

.nav-left-list li a:hover {
    color: var(--color-accent);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    }

.nav-left-list li.is-active a {
    color: var(--color-accent);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px; }

#theme-switch {
    width: 42px;
    height: 42px;
    border-radius: var(--radius-circle);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-base);
    background: transparent;
}

#theme-switch:hover { transform: var(--transform-base); }

#theme-switch:active { transform: var(--transform-base); }

#theme-switch__icon {
    font-size: 1.8rem;
    color: var(--color-text-primary);
    transition: var(--transition-base);
}

#theme-switch__icon:hover { color: var(--color-accent); }

/* SIDEBAR */
.sidebar-nav {
    border-radius: var(--radius-container);
    padding: 27px 10px 10px;
    height: fit-content;
}

.mobile-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-menu__item a {
    font-size: 18px;
    display: block;
    padding-left: 10px;
    border-radius: var(--radius-container);
    color: var(--color-text-primary);
    position: relative;
    transition: var(--transition-base);
}

.mobile-menu__item a:hover, .footer-links a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: var(--color-accent);
    color: var(--color-accent);
}

.mobile-menu__item.is-active a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: var(--color-accent);
    color: var(--color-accent);
    font-weight: 600;
}

.burger {
    display: none;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    color: var(--color-text-primary);
    top: -10px;
}

.pagination { margin-top: 40px; }

.pagination ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.pagination__item a,
.pagination__item {
    padding: 10px 14px;
    border-radius: var(--radius-photos);
    background: var(--color-pistachio-soft);
    color: var(--color-text-primary);
    transition: var(--transition-base);
}

.pagination__item--active { background: var(--color-accent); color: var(--color-white); }


/* FOOTER */
.site-footer {
    margin: 170px 40px 15px;
    text-align: center;
    color: var(--color-text-primary);
    border: 1px solid var(--color-frame);
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-radius: 10px;
    background: var(--color-header-footer);
}

.footer-links a { margin: 0 10px; font-size: 14px; }

#scroll-top-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: transparent;
    border: none;
    border-radius: 10px;
    font-size: 3rem;
    color: #FF8EED;
/*    text-shadow: 2px 3px 0 var(--color-yellow);*/
    cursor: pointer;
    font-family: 'Baloo 2', cursive;
    padding: 10px 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.2s ease;
    z-index: 9997;
}

#scroll-top-button.show { opacity: 1; pointer-events: auto; }

#scroll-top-button:hover {
    transform: translateY(-4px);
}

/* DOGS_LIST.HTML */
.dogs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 30px;
}

.dog-card-link {
    text-decoration: none;
    color: var(--color-accent);
    display: block;
    transition: var(--transition-base);
    padding: 8px;
    background-image: radial-gradient(#999 1px, transparent 1px);
    background-size: 4px 4px;
/*
    border: 1px solid var(--color-frame);
*/
    border-radius: var(--radius-photos);
}

.dog-card-link:hover .dog-card {
    box-shadow: 0 var(--shadow-offset-y) var(--shadow-blur) var(--shadow-color);
}

.dog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.dog-card {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: var(--radius-photos);
    overflow: hidden;
    box-shadow: 0 var(--shadow-offset-y) var(--shadow-blur) var(--shadow-color);
    transition: var(--transition-base);
}

.dog-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.8);
    transition: var(--transition-base);
/*    border-radius: var(--radius-photos);

    border: 1px solid var(--color-frame);
*/
}

.dog-card__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 60px;
    width: 180px;
    padding: 6px 12px;
    line-height: 1.5;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Baloo 2', cursive;
    font-size: 16px;
    color: var(--color-text-primary);

    background-color: #F5F6FA;
    box-shadow: 3px 3px 0 0 var(--color-yellow);
    border: 1px solid var(--color-frame);
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-radius: 8px;
    backdrop-filter: blur(3px);

    text-align: center;
}

.dog-card-link:hover .dog-card__image { filter: brightness(0.6); }

.dog-card-link:hover .dog-card__title { background: rgba(255, 255, 255, 0.9); }

.cat-desc { margin: 0; }

/* POST.HTML */
.post-container { color: var(--color-text-primary); }


.post-title {
    font-size: 2.6rem;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
/*    filter: drop-shadow(1.5px 1.5px 0 var(--color-yellow))
            drop-shadow(2px 2px 0 #D5B7F8);*/
/*    background-image:
    linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);

    background-size: 30px 30px;*/

}

.post-media {
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: start;
}

.post-image {
    width: 380px;
    height: 550px;
    object-fit: cover;
    object-position: center;
/*
    border: 1px solid var(--color-frame);
*/
    border-radius: var(--radius-container);
/*
    box-shadow: 4px 4px 0 0 var(--color-header-footer);
*/
    cursor: pointer;
    padding: 8px;
    background-image: radial-gradient(#999 1px, transparent 1px);
    background-size: 4px 4px;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.photo-author {
    font-size: 0.75rem;
    color: var(--color-grey);
    text-align: center;
}

.images-rule { color: var(--color-grey); }

.post-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}

.breed-char { margin: 0; font-size: 18px; }
.section-title { font-size: 18px; }

.post-params-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 10px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }

}

.post-params-grid p { margin: 0; }

.post-params-grid i {
    color: var(--color-accent);
    border: 1px solid var(--color-frame);
    border-right-width: 2.5px;
    border-bottom-width: 2.5px;
    border-radius: 10px;
    background: var(--color-button-background);
    padding: 2px 4px 0;
}

.images-rule {
    font-size: 11.75px;
    margin: 0;
    color: var(--color-grey);
    margin-top: 40px;
}

.mini-gallery {
    display: grid;
    grid-template-columns: repeat(4, 160px);
    gap: 10px;
}

.gallery-image {
    width: 160px;
    height: 160px;
    object-fit: cover;
/*
    border: 1px solid var(--color-frame);
*/
    border-radius: var(--radius-container);
/*    box-shadow: 4px 4px 0 0 var(--color-header-footer);*/
    padding: 8px;
    background-image: radial-gradient(#999 1px, transparent 1px);
    background-size: 4px 4px;
    cursor: pointer;
    transition: var(--transition-base);
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }

}



.gallery-image:hover { transform: var(--transform-base); }

.post-text { font-size: 18px; text-align: justify; line-height: 1.6; }

.post-text p { margin: 0 0 5px; }

.post-text-explore {
    font-size: 16px;
    text-align: justify;
    line-height: 1.8;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    z-index: 9999;

    display: none;
    align-items: center;
    justify-content: center;

    overscroll-behavior: contain;
    touch-action: none;
}

.modal.active { display: flex; }

.modal-content { max-height: 750px; border-radius: var(--radius-photo); }

.modal-author {
    font-size: 0.8rem;
    color: var(--color-white);
    text-align: center;
    margin-top: 6px;
}

#modal-img {
    transition: transform 0.05s linear, opacity 0.25s ease;
    transform-origin: center center;
    touch-action: none;
    padding: 8px;
    background-image: radial-gradient(#525252 1px, transparent 1px);
    background-size: 4px 4px;
    border-radius: var(--radius-photos);
}


#modal-img {
    transform-origin: center center;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
    color: var(--color-text-primary);
    cursor: pointer;
    border: 3px solid var(--color-frame);
    background: var(--color-button-background);
    height: 50px;
    width: 50px;
    text-align: center;
    justify-items: center;
}

.close:hover { background: #FFA493; }

.modal-arrow {
    position: absolute;
    top: 50%;
    font-size: 26px;
    color: var(--modal-text-primary);
    cursor: pointer;
    right: 30px;
    border: 3px solid var(--color-frame);
    background: var(--color-button-background);
    height: 50px;
    width: 50px;
    text-align: center;
    justify-items: center;
}

.modal-arrow:hover { background: #FFA493; }

.modal-arrow.prev { left: 30px; }
.modal-arrow.next { right: 30px; }

.updated { text-align: end; }

.dog-muted {
    color: var(--color-text-primary) !important;
    border: none !important;
    background: none !important;
}
.dog-active { color: var(--color-accent) !important; padding: 3px ! important; }


/* HOME.HTML */
.fullwidth-content { width: 100%; margin: 0 auto; }

.homepage {
    margin: 0 auto;
    padding: 70px 40px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.homepage-left {
    display: flex;
    padding: 70px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-image: radial-gradient(#999 1px, transparent 1px);
    background-size: 30px 30px;
}

.homepage-left-text, .home-showcase-right p {
    font-size: 2.6rem;
    text-align: center;
    width: 100%;

    background: #fff;
    background-image:
    linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);

    background-size: 30px 30px;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }

}

.hero-block {
    display: flex;
    width: 100%;
    min-height: calc(90vh - 80px);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.hero-icon {
    font-size: 3.5rem;
    color: var(--color-text-primary);
    opacity: 1;
    cursor: pointer;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    filter: drop-shadow(2px 2px 0 var(--color-yellow))
        drop-shadow(2px 2px 0 #D5B7F8);
}


.hero-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dog-decor {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

.dog {
    position: absolute;
    width: 170px;

    filter: drop-shadow(8px 8px 0 var(--color-yellow))
            drop-shadow(6px 6px 0 #D5B7F8);

    opacity: 0.9;
}

.dog-1 {
    top: 60%;
    left: 10%;
    transform: rotate(-10deg);
    width: 200px;
}

.dog-2 {
    top: 50%;
    right: 0;
    transform: rotate(10deg);
}

.dog-3 {
    top: 10%;
    right: 4%;
    transform: rotate(5deg);
    width: 250px;
}

.dog-4 {
    bottom: 25%;
    left: 2%;
    transform: rotate(-7deg);
    width: 290px;
}

.dog-5 {
    top: 20%;
    right: 30%;
    transform: rotate(8deg);
    width: 270px;
}


.homepage-text-1 {
    font-size: clamp(6rem, 8vw, 8rem);
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    padding: 0;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    line-height: 1.5;

    color: #FF8EED;
    -webkit-text-stroke: 2.5px #1c2b27;
    text-shadow: 6px 6px 0  var(--color-yellow);

    background-image:
    linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);

    background-size: 30px 30px;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.homepage-text-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    background-image: radial-gradient(#999 1px, transparent 1px);
    background-size: 30px 30px;
}

.homepage-text-2 {
    margin: 30px 0 50px 0;
    font-size: clamp(6rem, 7vw, 7rem);
    font-family: 'Paytone One', sans-serif;
    color: #FF8EED;
    -webkit-text-stroke: 2.5px #1c2b27;
    text-shadow: 6px 6px 0  var(--color-yellow);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2;
    padding: 0;
}

.hero-right {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 400px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.8s ease;
}


.homepage-search {
    background: var(--color-yellow);
    width: 350px;
    height: 170px;
    border-radius: var(--radius-container);
    box-shadow: 6px 6px 0 0 var(--color-header-footer);
    border: 1px solid var(--color-frame);
    border-right-width: 3px;
    border-bottom-width: 3px;
    text-align: center;
}

.homepage-search label {
    display: block;
    font-size: 45px;
    color: var(--color-text-primary);
    margin-bottom: 12px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    background: var(--color-yellow);
    border-radius: var(--radius-container);
}

.homepage select {
    width: 210px;
    padding: 10px 40px;
    text-align: center;
    font-size: 18px;
    border-radius: var(--radius-container);
    cursor: pointer;
    appearance: none;
    font-family: 'Baloo 2', cursive;
    color: var(--color-text-primary);

    background-color: var(--color-button-background);

    background-image:
        linear-gradient(45deg, transparent 50%, #000 50%),
        linear-gradient(135deg, #000 50%, transparent 50%);
    background-position:
        calc(100% - 18px) calc(50% + 3px),
        calc(100% - 11px) calc(50% + 3px);
    background-size: 8px 8px, 8px 8px;
    background-repeat: no-repeat;

    border: 1px solid var(--color-frame);
    border-right-width: 3px;
    border-bottom-width: 3px;

    box-shadow: 0 var(--shadow-offset-y) var(--shadow-blur) var(--shadow-color);
    transition: var(--transition-base);
}

.homepage select:hover {
    transform: var(--transform-base);
    box-shadow: 0 var(--shadow-offset-y) var(--shadow-blur) var(--shadow-color);
}

.homepage select:active {
    transform: translateY(0px);
    box-shadow: 0 var(--shadow-offset-y) var(--shadow-blur) var(--shadow-color);
}

.homepage select:focus { outline: none; }


.homepage-text-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.chevron-icon { font-size: 2.5rem; }

.home-showcase {
    width: 100%;
    min-height: 420px;
    gap: 40px;
    box-sizing: border-box;
}

.home-showcase-left {
    display: grid;
    overflow: hidden;
    position: relative;
}

.dog-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 26px;
    margin: 40px 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}


.dog-slider .dog-card-link {
    flex: 0 0 250px;
}

.dog-slider::-webkit-scrollbar {
    height: 18px;
    background: #FF8EED;
    border-radius: var(--radius-photos);
    border:2px solid var(--color-frame);
}

.dog-slider::-webkit-scrollbar-thumb {
    background: var(--color-button-background);
    border-radius: var(--radius-photos);
    background-clip: content-box;
    border: 2px solid var(--color-frame);
}

.dog-slider::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--color-button-background);
}

.home-showcase-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
    width: 100%;
}

.home-showcase-right h2 { font-size: 2.4rem; margin-bottom: 16px; }


/* CONTACT.HTML */
.policy-container form { margin-top: 30px; }

.policy-container form p,
.form-check-wrapper { max-width: 460px; margin: 0 0 18px; }

.form-label,
.consent-label {
    font-size: 13px;
    color: var(--color-text-primary);
    display: block;
    margin-bottom: 6px;
}

.last-updated { color: var(--color-grey); }

.policy-container input[type="text"],
.policy-container input[type="email"],
.policy-container textarea {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid var(--color-frame);
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-radius: 10px;
    background-color: var(--color-white);
    transition: var(--transition-base);
}

.policy-container textarea { resize: vertical; min-height: 120px; }

.policy-container input:focus,
.policy-container textarea:focus { outline: none; border-color: var(--color-accent); }

.form-check-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.form-check-wrapper input { margin-top: 4px; }

.form-error { max-width: 460px; margin: -10px 0 12px; }
.form-oferta { font-size: 14px; }

#btn-custom {
    display: block;
    margin: 20px 0 0;
    padding: 10px 25px;
    font-size: 14px;
    color: #161616;
    background-color: var(--color-button-background);
    border: 1px solid var(--color-frame);
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-radius: var(--radius-buttons);
    cursor: pointer;
    transition: var(--transition-base);
}

#btn-custom:hover {
    background-color: var(--color-yellow);
    transform: translateY(-1px);
    color: var(--color-text-primary);
}

.contact-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.contact-form-side { width: 100%; }


.contact-side {
/*    border: 1px solid var(--color-frame);
    border-right: 3px solid var(--color-frame);
    border-bottom: 3px solid var(--color-frame);
    border-radius: var(--radius-container);
    padding: 20px;
    background: var(--color-white);*/
}

/* POLICIES */
.num-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.num-list a { display: block; }

.link-policies { color: var(--color-accent); }

.link-policies:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    text-decoration-color: var(--color-accent);
    color: var(--color-accent);
    }

.bulleted-list li::marker { color: var(--color-accent); line-height: 2.5;}


/* FILTER.HTML */
.filter-section { padding: 0; }

.page-title-filters { text-align: left; margin-bottom: 0px; }

.filter-form {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.filter-form select {
    padding: 10px 14px;
    border: 1px solid var(--color-grey);
    border-radius: var(--radius-buttons);
    background: var(--color-white);
}

.btn-filter {
    background: #c47a2c;
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    border-radius: var(--radius-buttons);
    cursor: pointer;
}

.btn-filter:hover { opacity: 0.9; }

.dog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.filter-group p { font-weight: 600; margin-bottom: 10px; }

.filter-group i { color: var(--color-accent); }

.filter-group label {
    display: block;
    cursor: pointer;
    margin-bottom: 6px;
}

.filter-group input { margin-right: 6px; }

.clear-filters-group { display: flex; align-items: flex-end; }

.clear-filters-group .btn-filter {
    padding: 8px 16px;
    font-weight: 600;
    font-size: 16px;
    background: var(--color-white);
    color: var(--color-accent);
    border-radius: var(--radius-buttons);
    border: none;
    cursor: pointer;
    transition: var(--transition-base);
}

.clear-filters-group .btn-filter:hover { opacity: 0.9; }


/* DOG_GROUPS.HTML */
/*.dog-groups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 800px;
}

.group-item { margin-bottom: 0;  }*/


.dog-groups { width: 100%; margin: 0; text-align: start; }
/*.group-item { margin-bottom: 15px; }*/

.group-title {
  width: 100%;
  text-align: left;
  padding: 15px 0;
  background: none;
  border: none;
/*  border-right: 3px solid var(--color-frame);*/
  border-bottom: 1px solid var(--color-frame);
/*  border-radius: var(--radius-container);*/
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  font-size: 16px;
  color: var(--color-text-primary);
  width: 600px;
}
/*
.group-title:hover {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0 var(--color-frame);
}*/

/* arrow */
.group-title::after {
  content: '+';
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/* when opened */
.group-title.active::after { content: '–'; }

.group-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-top: 6px;
}

.group-content ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: start;
  background: var(--color-white);
  border: none;
  width: 600px;
/*  border-right: 3px solid var(--color-frame);
  border-bottom: 3px solid var(--color-frame);
  border-radius: var(--radius-container);*/
  padding: 10px 20px;
  margin: 0;
  list-style: none;
}

.group-content li { margin-bottom: 8px; }

.group-content a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.2s;
}

.group-content a:hover {
  color: var(--color-accent);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
}

/* MEMPHIS */
.memphis-circle {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 7px solid #D5B7F8;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 0 #45494D);
  z-index: 4;
}

.circle-1 { top: 20px; right: 20px; }
.circle-2 { top: 50px; right: 180px; }
.circle-3 { top: 120px; right: 80px; opacity: 0.2; }
.circle-4 { top: 300px; left: 220px; opacity: 0.2; }
.circle-5 { top: 400px; left: 150px; }

/* Triangle */
.memphis-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #D7FFC2;
  filter: drop-shadow(5px 3px 0 var(--color-frame));
  z-index: 4;
}

.triangle-1 { top: 20px; left: 5%; }
.triangle-2 { top: 20px; left: 250px; }
.triangle-3 { top: 280px; right: 50px; opacity: 0.2; }
.triangle-4 { top: 100px; left: 230px; opacity: 0.2; }
.triangle-5 { top: 500px; left: 120px; }

/* Star */
.memphis-star {
  position: absolute;
  width: 45px;
  height: 45px;
  filter: drop-shadow(3px 3px 0 var(--color-frame));
  z-index: 4;
}

.memphis-star::before,
.memphis-star::after {
  content: '';
  position: absolute;
  inset: 0;
  aspect-ratio: 1;
  background: var(--color-yellow);
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn)))
   );
  z-index: 4;

}

.star-1 { top: 500px; right: 200px; }
.star-2 { top: 180px; left: 50px; }
.star-3 { top: 350px; right: 500px; opacity: 0.2; }
.star-4 { bottom: 100px; left: 130px; opacity: 0.2; }
.star-5 { top: 480px; left: 200px; }

/* Heart */
.memphis-heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FF8EED;
  transform: rotate(-45deg);
  filter: drop-shadow(3px 3px 0 var(--color-frame));
  z-index: 4;
}

.memphis-heart::before,
.memphis-heart::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FF8EED;
  border-radius: 50%;
}

.memphis-heart::before { top: -12px; left: 0; }
.memphis-heart::after { top: 0; left: 12px; }

.heart-1 { top: 600px; left: 400px; }
.heart-2 { top: 200px; right: 150px; }
.heart-3 { top: 505px; right: 300px; opacity: 0.2; }
.heart-4 { bottom: 0; left: 250px; opacity: 0.2; }
.heart-5 { top: 550px; left: 120px; }

/* Half-circle */
.memphis-half-circle {
  position: absolute;
  width: 45px;
  height: 20px;
  background: #FFA594;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  filter: drop-shadow(3px 3px 0 var(--color-frame));
  z-index: 4;
}

.half-1 { top: 500px; right: 400px; }
.half-2 { top: 260px; left: 200px; }
.half-3 { bottom: 100px; right: 80px; opacity: 0.2; }
.half-4 { top: 420px; left: 250px; transform: translate(0, -18px) rotate(-90deg); opacity: 0.2; }
.half-5 { top: 520px; left: 150px; }

/* Cloud */
.memphis-cloud {
  position: relative;
  width: 50px;
  height: 12px;
  background: #43e5e8;
  border-radius: 12.5px;
  filter: drop-shadow(3px 3px 0 var(--color-frame));
  z-index: 4;
}

.memphis-cloud::before,
.memphis-cloud::after {
  content: '';
  position: absolute;
  background: #43e5e8;
  border-radius: 50%;
}

.memphis-cloud::before { width: 20px; height: 20px; top: -10px; left: 5px; }
.memphis-cloud::after { width: 25px; height: 23px; top: -12.5px; right: 5px; }

.cloud-1 { top: 400px; left: 100px; position: absolute; }
.cloud-2 { top: 220px; left: 50px; position: absolute; }
.cloud-3 { bottom: 1px; right: 400px; position: absolute; opacity: 0.2; }
.cloud-4 { top: 420px; left: 220px; position: absolute; opacity: 0.2; }
.cloud-5 { top: 520px; left: 150px; position: absolute; }

.arrow-icon {
    position: relative;
    width: 33px;
    height: 33px;
    margin: 20px auto 50px auto;
    z-index: 4;
}

.arrow-icon:before,
.arrow-icon:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    border-left: 8px solid var(--color-yellow);
    border-bottom: 8px solid var(--color-yellow);

    animation: arrow-icon 3s linear infinite;
}

.arrow-icon:after {
    border-left: 8px solid var(--color-header-footer);
    border-bottom: 8px solid var(--color-header-footer);
    animation: arrow-icon 3s linear infinite -1.5s;
}

@keyframes arrow-icon {
    0% {
        opacity: 0;
        transform: translate(0, -18px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate(0, 0) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, 18px) rotate(-45deg);
    }
}