SECRET_KEY=foobar
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_NAME=db
DATABASE_USER=user
DATABASE_PASS=password
CHAT_ID=chat_id
TOKEN=token
DB_HOST=db_host
DB_PORT=db_port

# --- S3 object storage (media uploads) ---
USE_S3=True
S3_ACCESS_KEY_ID=access_key
S3_SECRET_ACCESS_KEY=secret_key
S3_ENDPOINT_URL=https://<s3-endpoint>
S3_BUCKET_NAME=bucket
S3_REGION=region
