{% extends 'woof/base.html' %}

{% block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="breadcrumbs">
        <a href="{% url 'home' %}" title="Home" class="link-policies">Home</a>
        <span>/</span>
        <span class="current">About us</span>
    </div>
</div>

<div class="post-container">

    <h1 class="post-title-cat">About us</h1>

    <div class="post-text-explore">
        <div class="guide-image image-aboutus"></div>
        <p class="section-title">Welcome!</p>

        <p class="cat-desc">
            This project is created for fun and designed as a structured catalog of dog breeds, focused on clarity, comparison, and easy navigation.
            The main classification system follows the <strong>FCI (Fédération Cynologique Internationale)</strong> — the largest international federation of kennel clubs, which defines official breed standards and group structures worldwide.
        </p>

        <p>
            To provide a broader perspective, the catalog also incorporates data from other kennel organizations, as well as independent breed sources.
            As a result, the database includes not only officially recognized breeds, but also less common and developing ones.
        </p>

        <p>
            If a breed is missing, it may not yet be added or sufficient reference material is still being collected.
        </p>

        <p class="section-title">
            About classification
        </p>

        <p>
            The catalog combines:
            <br>— officially recognized FCI breeds and groups
            <br>— breeds recognized by other kennel clubs
            <br>— rare or developing breeds not yet formally classified
        </p>

        <p>
            Breed classification may vary between kennel organizations.
            The same breed can be assigned to different groups depending on the standard used.
        </p>

        <p>
            For official FCI standards, you can visit the
            <strong>
                <a href="https://www.fci.be" target="_blank" class="link-site" title="FCI website">
                    FCI website.
                </a>
            </strong>
        </p>

        <p>
            You can also find practical and helpful information about dog care, training, behavior, and daily life in the
            <strong>
                <a href="{% url 'guides' %}" class="link-site" title="Guides section">
                    Guides section.
                </a>
            </strong>
        </p>

        <p>
            Enjoy exploring, learning, and discovering dog breeds :)
        </p>

    </div>
</div>

{% endblock %}