{% extends 'woof/base.html' %}

{% block content %}


<div class="form-container">
<h1 id="about-title">{{title}}</h1>
<p class="form-decs">
    If you're unsure about any information, feel free to visit the <a href="https://www.akc.org/dog-breeds/" target="_blank" class="link-site" title="American Kennel Club">American Kennel Club (AKC)</a> website for reliable details. After submission, your post will be published on the website within three days. You can find it <a href="https://woofdogs.world/my-posts/" target="_blank" class="link-site" title="My Posts">here</a>.
</p>
<form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
    {{ f }}
    {% if f.help_text %}
        <small class="form-help-text">{{ f.help_text }}</small>
    {% endif %}
</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button id="btn-custom" type="submit" title="Add an article">Add an article</i></button>
</form>
</div>
{% endblock %}