{% load static %}
{% load woof_tags %}
{% load filters %}

<!DOCTYPE html>
<html>
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-57F50EKD56"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-57F50EKD56');
</script>
<!-- End Google tag (gtag.js) -->
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'woof/css/styles.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'woof/css/mobile.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'woof/css/dark.css' %}" rel="stylesheet" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
#btn-custom {
    -webkit-appearance: none;
    border: none; /* Убирает границу */
    background: linear-gradient(45deg, #ffd7e0 20%, #e0c8ff 50%, #fdecec 80%);
    background-size: 200% 100%;
    color: #444444;
    padding: 0.6rem 0.9rem;
    border-radius: 50px;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 20px;
}

#btn-custom:hover {
    animation: bruh 3s linear infinite;
    color: #444444;
    text-decoration: none;
}

@keyframes bruh {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#btn-custom i {
    margin-left: 0.5rem;
}

/* Мобильная версия */
@media (max-width: 768px) {
    #btn-custom {
        padding: 0.6rem 0.8rem;
        font-size: 0.8rem;
        border-radius: 30px;
    }
}
</style>
<style>
/* Стили для таблицы с классом .cookie-table */
.cookie-table {
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
  width: 100%; /* Ширина таблицы на всю доступную ширину */
  }

.cookie-table th, .cookie-table td {
  border: 1px solid #000; /* Граница ячеек */
  padding: 8px; /* Отступы внутри ячеек */
  font-size: 12px; /* Размер шрифта */
  text-align: left; /* Выравнивание текста по левому краю */
}

.cookie-table th {
  background-color: #f4f4f4; /* Цвет фона для заголовков */
}
</style>

</head>
<body>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJCSC592');</script>
<!-- End Google Tag Manager -->
<script>
    document.addEventListener('click', function(event) {
  const menuToggle = document.querySelector('#menu__toggle'); // Селектор чекбокса
  const menuBox = document.querySelector('.menu__box'); // Селектор контейнера меню
  const menuButton = document.querySelector('.menu__btn'); // Селектор кнопки-крестика

  // Проверяем, если клик произошел вне меню, самого чекбокса и креста
  if (!menuBox.contains(event.target) && !menuToggle.contains(event.target) && !menuButton.contains(event.target)) {
    menuToggle.checked = false; // Сбрасываем чекбокс
  }
});
</script>


<script>
document.addEventListener("DOMContentLoaded", function() {
    // Проверка на наличие сохраненного выбора темы
    const currentTheme = localStorage.getItem('theme') || 'light';
    document.body.classList.add(currentTheme + '-theme');

    // Переключение темы
    document.querySelector('#theme-toggle').addEventListener('click', function() {
        let newTheme = document.body.classList.contains('light-theme') ? 'dark' : 'light';
        document.body.classList.remove('light-theme', 'dark-theme');
        document.body.classList.add(newTheme + '-theme');
        localStorage.setItem('theme', newTheme); // Сохранение выбора темы
    });
});
</script>

{% block mainmenu %}
<div class="header">
    <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>

        {% for m in menu %}
            {% if m.url_name == 'about' or m.url_name == 'contact' %}
                {% if request.resolver_match.url_name == m.url_name %}
                    <li class="selected"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% else %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endif %}
            {% elif request.user.is_authenticated %}
                {% if request.resolver_match.url_name == m.url_name %}
                    <li class="selected"><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% else %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if request.user.is_authenticated %}
    <li class="last">

        <a href="http://0.0.0.0:8000/my-posts/" class="circle-link{% if request.path == '/my-posts/' %} selected{% endif %}">
            <i class="bi bi-suit-heart"></i>
        </a> |
        <a href="{% url 'logout' %}" class="logout-link{% if request.path == '/logout/' %} selected{% endif %}">Log out</a>
        <button id="theme-toggle"><i class="bi bi-circle-half"></i></button>
    </li>
{% else %}
    <li class="last">
        <a href="{% url 'register' %}" class="register-link{% if request.path == '/register/' %} selected{% endif %}">Registration</a> |
        <a href="{% url 'login' %}" class="login-link{% if request.path == '/login/' %} selected{% endif %}">Log in</a>
        <button id="theme-toggle"><i class="bi bi-circle-half"></i></button>
    </li>
{% endif %}

    </ul>
    <div class="clear"></div>
</div>
{% endblock mainmenu %}

<table class="table-content" border="0" cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
<td valign="top" class="left-chapters">
    <div class="hamburger-menu">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>
  <ul class="menu__box">
    {% if request.resolver_match.url_name == 'home' and cat_selected == 0 %}
  <li class="menu__item selected">All</li>
{% else %}
  <li class="menu__item"><a href="{% url 'home' %}">All</a></li>
{% endif %}

    {% for category in cats %}
      {% if category.pk != 10 %}
        {% if category.pk == cat_selected %}
          <li class="menu__item selected">{{ category.name }}</li>
        {% else %}
          <li class="menu__item"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- Отдельно выводим категорию с id = 10 -->
    {% with last_category=cats|get_item_by_id:10 %}
      {% if last_category %}
        {% if last_category.pk == cat_selected %}
          <li class="menu__item selected">{{ last_category.name }}</li>
        {% else %}
          <li class="menu__item"><a href="{{ last_category.get_absolute_url }}">{{ last_category.name }}</a></li>
        {% endif %}
      {% endif %}
    {% endwith %}
  </ul>
</div>
</td>
<!-- Конец Sidebar'а -->



<td valign="top" class="content">
    <div class="content-text">
        {% block content %}
        {% endblock %}
        {% if request.resolver_match.url_name != 'about' %}
        {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-arrow-left-circle"></i></a>
                </li>
                {% endif %}

                {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li class="page-num">
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-arrow-right-circle"></i></a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        {% endif %}
    </div>
</td></tr></table>
</td></tr>

<!-- Footer -->
<tr><td valign="top">
    <div id="footer">
    <button id="scroll-to-top"><i class="bi bi-arrow-up-circle"></i></button>
    <div class="footer-section">
        <p class="rights">&copy; 2024 Woof Dogs. All rights reserved</p>
    </div><div class="footer-section">
        <a href="#" class="link-site"><i class="bi bi-github"></i></a>
            <a href="#" class="link-site"><i class="bi bi-envelope"></i></a>
    </div>

    <div class="footer-section">
        <p class="policies">
            <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
            <a href="{% url 'cookie-policy' %}">Cookie Policy</a>
            <a href="{% url 'terms-of-use' %}">Terms of Use</a>
        </p>
    </div>

</div>
</td></tr>
</table>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const scrollToTopBtn = document.getElementById('scroll-to-top');
    console.log(scrollToTopBtn); // Проверка, найден ли элемент

    if (scrollToTopBtn) {
        window.addEventListener('scroll', function() {
            if (window.pageYOffset > 600) {
                scrollToTopBtn.style.display = 'block';
            } else {
                scrollToTopBtn.style.display = 'none';
            }
        });

        scrollToTopBtn.addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    }
});

</script>
<!-- Конец footer'а и страницы -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJCSC592"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>