{% extends 'woof/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="breadcrumbs">
        <a href="{% url 'home' %}"
           class="link-policies">
            <img src="{% static 'house.svg' %}"
                 alt="{% trans 'Home' %}"
                 class="icon-bread"
                 width="12"
                 height="12"
            >
        </a>

        <span>/</span>

        <span class="current">{% blocktranslate trimmed %}Cookie Policy{% endblocktranslate %}</span>
    </div>
</div>


<!-- Cookie policy content -->
<div class="policy-container">

    <!-- Page title -->
    <h1 class="post-title-cat">
        <strong>{% blocktranslate trimmed %}Cookie Policy{% endblocktranslate %}</strong>
    </h1>

    <p>{% blocktranslate trimmed %}Last updated: April 26, 2026{% endblocktranslate %}</p>


    <!-- Cookie declaration -->
    <h2 class="section-title">{% blocktranslate trimmed %}Cookie Declaration{% endblocktranslate %}</h2>

    <div class="cky-audit-table-element"></div>


    <!-- Browser controls -->
    <h2 class="section-title">{% blocktranslate trimmed %}How can I control cookies in my browser?{% endblocktranslate %}</h2>

    <p>{% blocktranslate trimmed %}Here are instructions for managing cookies in popular browsers:{% endblocktranslate %}</p>

    <ul class="bulleted-list">

        <li>
            <a href="https://support.google.com/chrome/answer/95647"
               target="_blank"
               class="link-policies"
               title="{% trans 'Chrome' %}">{% blocktranslate trimmed %}Chrome{% endblocktranslate %}</a>
        </li>

        <li>
            <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies"
               target="_blank"
               class="link-policies"
               title="{% trans 'Internet Explorer' %}">{% blocktranslate trimmed %}Internet Explorer{% endblocktranslate %}</a>
        </li>

        <li>
            <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"
               target="_blank"
               class="link-policies"
               title="{% trans 'Firefox' %}">{% blocktranslate trimmed %}Firefox{% endblocktranslate %}</a>
        </li>

        <li>
            <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
               target="_blank"
               class="link-policies"
               title="{% trans 'Safari' %}">{% blocktranslate trimmed %}Safari{% endblocktranslate %}</a>
        </li>

        <li>
            <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy"
               target="_blank"
               class="link-policies"
               title="{% trans 'Edge' %}">{% blocktranslate trimmed %}Edge{% endblocktranslate %}</a>
        </li>

        <li>
            <a href="https://help.opera.com/en/latest/web-preferences/"
               target="_blank"
               class="link-policies"
               title="{% trans 'Opera' %}">{% blocktranslate trimmed %}Opera{% endblocktranslate %}</a>
        </li>

    </ul>


    <!-- Advertising opt-out -->
    <p>{% blocktranslate trimmed %}Additionally, most ad networks offer options to opt out of targeted advertising.
        For more information, visit:{% endblocktranslate %}</p>

    <ul class="bulleted-list">

        <li>
            <a href="https://optout.aboutads.info/"
               target="_blank"
               class="link-policies"
               title="{% trans 'Digital Advertising Alliance' %}">{% blocktranslate trimmed %}Digital Advertising Alliance{% endblocktranslate %}</a>
        </li>

        <li>
            <a href="https://youradchoices.ca/"
               target="_blank"
               class="link-policies"
               title="{% trans 'Digital Advertising Alliance of Canada' %}">{% blocktranslate trimmed %}Digital Advertising Alliance of Canada{% endblocktranslate %}</a>
        </li>

        <li>
            <a href="https://www.edaa.eu/"
               target="_blank"
               class="link-policies"
               title="{% trans 'European Interactive Digital Advertising Alliance' %}">{% blocktranslate trimmed %}European Interactive Digital Advertising Alliance{% endblocktranslate %}</a>
        </li>

    </ul>


    <!-- Updates -->
    <h2 class="section-title">{% blocktranslate trimmed %}How often will you update this Cookie Policy?{% endblocktranslate %}</h2>

    <p>{% blocktranslate trimmed %}We may update this Cookie Policy periodically to reflect changes to the cookies
        we use or for other operational, legal, or regulatory reasons. Please review
        this policy regularly to stay informed about how we use cookies and related technologies.{% endblocktranslate %}</p>


    <!-- Contact -->
    <h2 class="section-title">{% blocktranslate trimmed %}Where can I get more information?{% endblocktranslate %}</h2>

    <p>
        {% blocktranslate trimmed %}If you have any questions about our use of cookies or other technologies, please{% endblocktranslate %}
        <a href="mailto:woofdogs23@gmail.com"
           class="link-policies"
           title="{% trans 'woofdogs23@gmail.com' %}">{% blocktranslate trimmed %}contact us{% endblocktranslate %}</a>.
    </p>

</div>

{% endblock %}