{% extends 'woof/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs-wrapper">

    <div class="breadcrumbs">

        <a href="{% url 'home' %}"
           title="{% trans 'Home' %}"
           class="link-policies">
            <img src="{% static 'house.svg' %}"
                 alt="{% trans 'Home' %}"
                 class="icon-bread"
                 width="12"
                 height="12"
            >
        </a>

        <span>/</span>

        <span class="current">{% blocktranslate trimmed %}Dog guides{% endblocktranslate %}</span>

    </div>

</div>


<!-- Guides content -->
<div class="post-container">

    <!-- Page title -->
    <h1 class="post-title-cat">{% blocktranslate trimmed %}Dog guides{% endblocktranslate %}</h1>


    <div class="post-text-explore">

        <p class="section-title">{% blocktranslate trimmed %}Learn more about dogs{% endblocktranslate %}</p>

        <p class="cat-desc">
            {% blocktranslate trimmed %}Explore <strong>short</strong> guides about choosing, training, understanding and caring for dogs.
            These pages are designed to help both new and experienced owners.{% endblocktranslate %}
        </p>


        <!-- Guides list -->
        <div class="guides-list">

            <!-- Choosing the right dog -->
            <a href="{% url 'guide-choosing-dog' %}"
               title="{% trans 'Choosing the right dog' %}"
               class="guide-card">

                <span class="guide-title">
                    {% blocktranslate trimmed %}Choosing the right dog{% endblocktranslate %}
                </span>

                <p>{% blocktranslate trimmed %}Learn how to choose a breed that matches your lifestyle,
                    activity level and living space.{% endblocktranslate %}</p>

                <span class="group-open-icon">
                    <img src="{% static 'arrow-up-right.svg' %}"
                         alt="{% trans 'go' %}"
                         class="icon-arrow"
                         width="16"
                         height="16"
                    >
                </span>

            </a>


            <!-- Raising a puppy -->
            <a href="{% url 'guide-puppy' %}"
               title="{% trans 'Raising a puppy' %}"
               class="guide-card">

                <span class="guide-title">
                    {% blocktranslate trimmed %}Raising a puppy{% endblocktranslate %}
                </span>

                <p>{% blocktranslate trimmed %}Learn about early puppy development,
                    socialization, routines and first-life stages.{% endblocktranslate %}</p>

                <span class="group-open-icon">
                    <img src="{% static 'arrow-up-right.svg' %}"
                         alt="{% trans 'go' %}"
                         class="icon-arrow"
                         width="16"
                         height="16"
                    >
                </span>

            </a>


            <!-- Dog training fundamentals -->
            <a href="{% url 'guide-training' %}"
               title="{% trans 'Dog training fundamentals' %}"
               class="guide-card">

                <span class="guide-title">
                    {% blocktranslate trimmed %}Dog training fundamentals{% endblocktranslate %}
                </span>

                <p>{% blocktranslate trimmed %}Understand basic training principles,
                    communication and learning consistency.{% endblocktranslate %}</p>

                <span class="group-open-icon">
                    <img src="{% static 'arrow-up-right.svg' %}"
                         alt="{% trans 'go' %}"
                         class="icon-arrow"
                         width="16"
                         height="16"
                    >
                </span>

            </a>


            <!-- Dog health & care -->
            <a href="{% url 'guide-health' %}"
               title="{% trans 'Dog health & care' %}"
               class="guide-card">

                <span class="guide-title">
                    {% blocktranslate trimmed %}Dog health & care{% endblocktranslate %}
                </span>

                <p>{% blocktranslate trimmed %}Learn about grooming, nutrition,
                    preventive care and general health basics.{% endblocktranslate %}</p>

                <span class="group-open-icon">
                    <img src="{% static 'arrow-up-right.svg' %}"
                         alt="{% trans 'go' %}"
                         class="icon-arrow"
                         width="16"
                         height="16"
                    >
                </span>

            </a>


            <!-- Dog behavior & communication -->
            <a href="{% url 'guide-behavior' %}"
               title="{% trans 'Dog behavior & communication' %}"
               class="guide-card">

                <span class="guide-title">
                    {% blocktranslate trimmed %}Dog behavior & communication{% endblocktranslate %}
                </span>

                <p>{% blocktranslate trimmed %}Discover how dogs communicate,
                    express emotions and react to the world around them.{% endblocktranslate %}</p>

                <span class="group-open-icon">
                    <img src="{% static 'arrow-up-right.svg' %}"
                         alt="{% trans 'go' %}"
                         class="icon-arrow"
                         width="16"
                         height="16"
                    >
                </span>

            </a>


            <!-- Living with a dog -->
            <a href="{% url 'guide-living' %}"
               title="{% trans 'Living with a dog' %}"
               class="guide-card">

                <span class="guide-title">
                    {% blocktranslate trimmed %}Living with a dog{% endblocktranslate %}
                </span>

                <p>{% blocktranslate trimmed %}Daily routines, home adaptation
                    and long-term lifestyle organization with a dog.{% endblocktranslate %}</p>

                <span class="group-open-icon">
                    <img src="{% static 'arrow-up-right.svg' %}"
                         alt="{% trans 'go' %}"
                         class="icon-arrow"
                         width="16"
                         height="16"
                    >
                </span>

            </a>

        </div>

    </div>

</div>

{% endblock %}