{% extends 'woof/base.html' %}

{% block content %}



<ul class="list-articles">
	{% for p in posts %}
			<li><div class="article-panel">
         <p class="first">{{p.cat}}</p>
<p class="last">{{ p.time_update|date:"d/m/Y" }}</p>
</div>
{% if p.photo %}
         <p><img class="img-article-left thumb" src="{{p.photo.url}}" alt="{{ p.title }}"></p>
{% endif %}
				 <h2><a href="{{ p.get_absolute_url }}" aria-label="{{ p.title }}" class="title-link">{{ p.title }}</a></h2>
	{% autoescape on %}
<p class="index-descr"><span class="label">Size:</span> {{ p.size }}</p>
<p class="index-descr"><span class="label">Coat Type:</span> {{ p.coat_type }}</p>
<p class="index-descr"><span class="label">Coat Length:</span> {{ p.coat_length }}</p>
<p class="index-descr"><span class="label">Trainability:</span> {{ p.trainability }}</p>
<p class="index-descr"><span class="label">Activity Level:</span> {{ p.activity_level }}</p>
<p class="index-descr"><span class="label">Barking Level:</span> {{ p.barking_level }}</p>


	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}" aria-label="Read more about this breed">Read more</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
