{% extends 'woof/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in posts %}
			<li><div class="article-panel">
    <p class="first"><a href="{{ p.cat.get_absolute_url }}" class="link-cat" title="{{ p.cat.name }}">{{ p.cat.name }}</a></p>
<p class="last">{{ p.time_update|date:"F j, Y" }}</p>
</div>
				<h2><a href="{{ p.get_absolute_url }}" title="{{ p.title }}" class="title-link">{{ p.title }}</a></h2>
{% if p.photo %}
         <p><img class="img-article-left thumb" src="{{p.photo.url}}" alt="{{ p.title }}"></p>
{% endif %}

	{% autoescape on %}
<p class="index-descr"><span class="label">Size:</span> {{ p.get_size_display }}</p>
<p class="index-descr"><span class="label">Coat:</span> {{ p.get_coat_type_display }}, {{ p.get_coat_length_display }}</p>
<p class="index-descr"><span class="label">Trainability:</span> {{ p.get_trainability_display }}</p>
<p class="index-descr"><span class="label">Activity:</span> {{ p.get_activity_level_display }}</p>
<p class="index-descr"><span class="label">Barking:</span> {{ p.get_barking_level_display }}</p>
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}" title="More about breed">Details</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}
