{% extends 'woof/base.html' %}

{% block content %}
<div class="form-container">
<h1 id="about-title">{{title}}</h1>
<p class="form-decs">Please enter your username and password to log in and access your account.</p>


<form method="post">
    {% csrf_token %}
<div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>

{% endfor %}
<button id="btn-custom" type="submit">Log in</i></button>
</form>
</div>
{% endblock %}