{% extends 'woof/base.html' %}

{% block content %}
<div class="post-container">
<h1>My Posts</h1>

{% if posts %}
<p class="form-decs">Here are your published posts, using the email "{{ request.user.email }}".</p>
    <ul class="bulleted-list">
        {% for post in posts %}
        <li>
            <div>
                <p class="form-decs"><a href="{{ post.get_absolute_url }}" class="link-site">{{ post.title }}</a></p>
            </div>
            <p class="form-decs"><strong>Date published:</strong> {{ post.time_create|date:"F j, Y" }}</p>
        </li>
        {% endfor %}
    </ul>
    <p class="form-decs">If you believe you did not create these posts or have any concerns, please <a href="mailto:woofdogs23@gmail.com" class="link-site" title="woofdogs23@gmail.com">contact us</a>.</p>
{% else %}
    <p class="form-decs">You have no published posts. If you believe this is an error or need assistance, please <a href="mailto:woofdogs23@gmail.com" class="link-site" title="woofdogs23@gmail.com">contact us</a>.</p>
    <p class="form-decs">You can <a href="https://woofdogs.world/addpage/" class="link-site" title="New Post">create your first post here</a>.</p>
{% endif %}
    <a href="javascript:void(0);" onclick="history.back();" class="btn-back" title="Back">Back</a>
    </div>


{% endblock %}
