{% extends 'woof/base.html' %}

{% block content %}
<div class="policy-container">
    <h1><strong>Privacy Policy</strong></h1>
    <p class="last-updated"><strong>Last updated: August 30, 2024</strong></p>

    <p>This Privacy Policy for <strong>Woof Dogs</strong> («Website») describes how and why we might collect, store, use, and/or share («process») your information when you use our services («Services»), such as when you:</p>

    <ul class="bulleted-list">
        <li>Visit website at <a href="https://woofdogs.world/" target="_blank" class="link-site">https://woofdogs.world/</a>.</li>
        <li>Engage with us in other related ways.</li>
    </ul>

    <h2><strong>Questions or Concerns? </strong></h2>
    <p>Reading this Privacy Policy will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at <a href="mailto:woofdogs23@gmail.com" class="link-site">woofdogs23@gmail.com</a>.</p>

    <h2><strong>Summary of Key Points</strong></h2>
    <p>This summary provides key points from our privacy notice, but you can find out more details about any of these topics by following the links provided after each key point or by using our table of contents below to find the section you are looking for.</p>
    <ul class="bulleted-list">
        <li><strong>What personal information do we process?</strong> When you visit, use, or navigate our Services, we may process personal information depending on how you interact with «Woof Dogs» and the Services, the choices you make, and the products and features you use.</li>
        <li><strong>Do we process any sensitive personal information?</strong> We do not process sensitive personal information.</li>
        <li><strong>Do we receive any information from third parties?</strong> We do not receive any information from third parties.</li>
        <li><strong>How do we process your information?</strong> We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with the law. We may also process your information for other purposes with your consent.</li>
        <li><strong>In what situations and with which parties do we share personal information?</strong> We may share information in specific situations and with specific third parties.</li>
        <li><strong>How do we keep your information safe?</strong> We have organizational and technical processes and procedures in place to protect your personal information. However, no electronic transmission over the internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information.</li>
        <li><strong>What are your rights?</strong> Depending on where you are located geographically, the applicable privacy law may mean you have certain rights regarding your personal information.</li>
        <li><strong>How do you exercise your rights?</strong> The easiest way to exercise your rights is by filling out our data subject request form available here: <a href="https://woofdogs.world/privacy-policy/" target="_blank" class="link-site">Privacy Policy</a>, or by contacting us. We will consider and act upon any request in accordance with applicable data protection laws.</li>
    </ul>

    <h2><strong>Table of Contents</strong></h2>
<div class="num-list">
    <a href="#information-we-collect" class="table-of-contents">1. What information do we collect?</a>
    <a href="#how-we-process" class="table-of-contents">2. How do we process your information?</a>
    <a href="#legal-bases" class="table-of-contents">3. What legal bases do we rely on to process your personal information?</a>
    <a href="#information-sharing" class="table-of-contents">4. When and with whom do we share your personal information?</a>
    <a href="#cookies" class="table-of-contents">5. Do we use cookies and other tracking technologies?</a>
    <a href="#retention" class="table-of-contents">6. How long do we keep your information?</a>
    <a href="#data-security" class="table-of-contents">7. How do we keep your information safe?</a>
    <a href="#minors" class="table-of-contents">8. Do we collect information from minors?</a>
    <a href="#privacy-rights" class="table-of-contents">9. What are your privacy rights?</a>
    <a href="#do-not-track" class="table-of-contents">10. How do we manage the «Do Not Track» feature?</a>
    <a href="#us-privacy-rights" class="table-of-contents">11. Do residents of the United States have specific privacy rights?</a>
    <a href="#updates" class="table-of-contents">12. Do we make updates to this notice?</a>
    <a href="#contact-us" class="table-of-contents">13. How can you contact us about this notice?</a>
    <a href="#data-access" class="table-of-contents">14. How can you review, update, or delete the data we collect about you?</a>
</div>

    <h2 id="information-we-collect">1. What information do we collect?</h2>

<p><strong>Personal information you disclose to us</strong></p>
<p><em>In short:</em> We collect personal information that you provide to us.</p>
<p>We collect personal information that you voluntarily provide to us when you register with the Services, express interest in obtaining information about us or our products and Services, participate in activities on the Services, or otherwise when you contact us.</p>

<p><strong>Personal information you provide</strong></p>
<p>The personal information we collect depends on the context of your interactions with us and the Services, the choices you make, and the products and features you use. Personal data we collect may include:</p>
<ul class="bulleted-list">
    <li>Names</li>
    <li>Emails</li>
</ul>

<p><strong>Sensitive information</strong></p>
<p>We do not process sensitive information.</p>
<p>All personal information you provide to us must be true, complete, and accurate, and you must notify us of any changes to such personal information.</p>

<p><strong>Automatically collected information</strong></p>
<p><em>In short:</em> Some information - such as your IP address and/or browser and device characteristics - is collected automatically when you visit our Services.</p>
<p>We automatically collect certain information when you visit, use, or navigate the Services. This information does not reveal your specific identity (such as your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Services, and other technical information. This information is primarily needed to maintain the security and operation of our Services, and for internal analytics and reporting purposes.</p>
<p>Like many other companies, we also collect information through cookies and similar technologies.</p>

    <h2 id="how-we-process">2. How do we process your information?</h2>

<p><em>In short:</em> We process your information to provide, improve, and administer our Services, communicate with you, ensure security and prevent fraud, and comply with legal obligations. We may also process your information for other purposes with your consent.</p>

<p>We process your personal data for various reasons depending on how you interact with our Services, including:</p>
<ul class="bulleted-list">
    <li><strong>Providing and facilitating service delivery.</strong> We may process your information to provide you with the service you requested.</li>
    <li><strong>Responding to user inquiries/support requests.</strong> We may process your information to respond to your inquiries and address any potential issues you may have with the requested service.</li>
    <li><strong>Requesting feedback.</strong> We may process your information when necessary to request feedback and contact you regarding your use of our Services.</li>
    <li><strong>Protecting our Services.</strong> We may process your information as part of our efforts to ensure the security and reliability of our Services, including monitoring and preventing fraud.</li>
    <li><strong>Preserving or protecting vital interests of an individual.</strong> We may process your information when necessary to preserve or protect vital interests of an individual, such as preventing harm.</li>
</ul>

    <h2 id="legal-bases">3. What legal bases do we rely on to process your personal information?</h2>

<p><em>In short:</em> We process your personal data only when we have a valid legal reason (i.e., legal basis) to do so in accordance with applicable laws, such as with your consent, to comply with laws, to provide you with services under our contractual obligations, to protect your rights, or to pursue our legitimate business interests.</p>

    <p><strong>If you are in the EU or the UK, this section applies to you.</strong></p>

<p>The General Data Protection Regulation (GDPR) and the UK General Data Protection Regulation (UK GDPR) require us to explain the valid legal bases we rely on to process your personal data. Therefore, we may rely on the following legal bases to process your personal data:</p>
<ul class="bulleted-list">
    <li><strong>Consent.</strong> We may process your information if you have given us permission (i.e., consent) to use your personal information for a specific purpose. You can withdraw your consent at any time.</li>
    <li><strong>Contract performance.</strong> We may process your personal data when we believe it is necessary to fulfill our contractual obligations to you, including providing our Services, or at your request before entering into a contract with you.</li>
    <li><strong>Legitimate interests.</strong> We may process your information if we believe it is reasonably necessary to achieve our legitimate business interests, provided those interests do not override your interests and fundamental rights and freedoms. For example, we may process your personal information for some of the following purposes:

        <ul class="bulleted-list">
            <li>Sending users information about special offers and discounts on our products and services.</li>
            <li>Developing and displaying personalized and relevant content to our users.</li>
            <li>Analyzing how our Services are used to improve them for user engagement and retention.</li>
            <li>Supporting our business operations.</li>
            <li>Diagnosing problems and/or preventing fraud.</li>
            <li>Understanding how our users use our products and services to enhance user experience.</li>
        </ul>
    </li>
    <li><strong>Legal obligations.</strong> We may process your information if we believe it is necessary to comply with our legal obligations, such as cooperating with law enforcement or regulatory authorities, enforcing or defending our legal rights, or disclosing your information as evidence in a legal proceeding in which we are involved.</li>
    <li><strong>Vital interests.</strong> We may process your information if we believe it is necessary to protect your vital interests or the vital interests of a third party, such as in situations involving potential threats to the safety of any person.</li>
</ul>

<p><strong>If you are in Canada, this section applies to you.</strong></p>

<p>We may process your information if you have given us specific permission (i.e., explicit consent) to use your personal information for a particular purpose or in situations where your consent may be implied (i.e., implied consent). You can withdraw your consent at any time.</p>

<p>In some exceptional cases, under applicable law, we may be permitted to process your information without your consent, including:</p>
<ul class="bulleted-list">
    <li>If collection is clearly in the interest of an individual and consent cannot be obtained in a timely manner.</li>
    <li>For investigations, detection, and prevention of fraud.</li>
    <li>For business transactions under certain conditions.</li>
    <li>If it is contained in witness statements and collection is necessary for evaluating, processing, or settling an insurance claim.</li>
    <li>For identifying injured, ill, or deceased individuals and communicating with next of kin.</li>
    <li>If we have reasonable grounds to believe that an individual has been, is, or may become a victim of financial abuse.</li>
    <li>If it is reasonably expected that collection and use with consent would jeopardize the availability or accuracy of information, and collection is reasonable for purposes related to investigating breaches of agreements or violations of Canadian or provincial laws.</li>
    <li>If disclosure is required for complying with a subpoena, warrant, court order, or rules of court concerning the provision of records.</li>
    <li>If it was provided by an individual in the course of their employment, business, or profession, and collection aligns with the purposes for which it was obtained.</li>
    <li>If the collection is solely for journalistic, artistic, or literary purposes.</li>
    <li>If the information is publicly available and provided for by regulations.</li>
</ul>

    <h2 id="information-sharing">4. When and with whom do we share your personal data?</h2>

<p><em>In short:</em> We may share information in specific situations described in this section and/or with the following third parties.</p>

<p>We may need to share your personal data in the following situations:</p>
<ul class="bulleted-list">
    <li><strong>In accordance with legal requirements:</strong> To comply with laws, regulations, or law enforcement requests.</li>
    <li><strong>When using Google Analytics:</strong> We may share your information with Google Analytics to track and analyze the use of our Services. For more information about Google's privacy practices, please visit the <a href="https://policies.google.com/privacy" target="_blank" class="link-site">Google Privacy & Terms</a> page.</li>
</ul>

    <h2 id="cookies">5. Do we use cookies and other tracking technologies?</h2>

<p><em>In short:</em> We may use cookies and other tracking technologies to collect and store your information.</p>

<p>We may use cookies and similar tracking technologies (e.g., web beacons and pixels) to access or store information. Specific details on how we use such technologies and how you can opt-out of certain cookies are outlined in our <a href="https://woofdogs.world/cookie-policy/" target="_blank" class="link-site">Cookie Policy</a>.</p>

    <h2 id="retention">6. How long do we keep your information?</h2>

<p><em>In short:</em> We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice, unless a longer retention period is required or permitted by law.</p>

<p>We will retain your personal data only for as long as necessary for the purposes outlined in this privacy notice, unless a longer retention period is required or permitted by law (e.g., for tax, accounting, or other legal requirements).</p>

<p>If we have no ongoing legitimate business need to process your personal data, we will either delete or anonymize such information or, if that is not possible (e.g., because your personal data has been stored in backup archives), we will securely store your personal data and isolate it from any further processing until deletion is possible.</p>

    <h2 id="data-security">7. How do we keep your information safe?</h2>

<p><em>In short:</em> We strive to protect your personal information through a combination of organizational and technical security measures.</p>

<p>We have implemented appropriate and reasonable technical and organizational security measures designed to protect the security of any personal information we process. However, despite our security measures and efforts to protect your information, no electronic transmission over the Internet or technology for storing information can be guaranteed to be 100% secure, and thus we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security measures and improperly collect, access, steal, or alter your information. While we will do our best to protect your personal data, the transmission of personal data to and from our Services is at your own risk. You should access the Services only within a secure environment.</p>

    <h2 id="minors">8. Do we collect information about minors?</h2>

<p><em>In short:</em> We do not knowingly collect or share data about children under the age of 18.</p>

<p>We do not knowingly solicit data from children under the age of 18. By using our Services, you confirm that you are at least 18 years old or that you are the parent or guardian of a minor and consent to the minor's use of the Services. If we learn that we have collected personal information from users under 18 years old, we will take reasonable steps to delete such data from our records as soon as possible. If you become aware of any data we may have collected from children under 18 years old, please contact us at <a href="mailto:woofdogs23@gmail.com" class="link-site">woofdogs23@gmail.com</a>.</p>

    <h2 id="privacy-rights">9. What are your privacy rights?</h2>

<p><em>In short:</em> In regions such as the <strong>European Economic Area (EEA), the United Kingdom (UK), and Switzerland</strong>, you have specific rights regarding your personal data under regulations including the <strong>General Data Protection Regulation (GDPR)</strong>.</p>

<p>Under the GDPR, you have the following rights regarding your personal data:</p>
<ul class="bulleted-list">
    <li><strong>Right to Access:</strong> You have the right to request access to the personal data we hold about you, including obtaining a copy of it, so you can review and verify its accuracy.</li>
    <li><strong>Right to Rectification:</strong> You have the right to request that we correct or update any inaccurate or incomplete personal data we hold about you.</li>
    <li><strong>Right to Erasure:</strong> You have the right to request that we delete your personal data, subject to certain conditions, such as when the data is no longer necessary for the purposes for which it was collected, or if you withdraw your consent on which the processing is based.</li>
    <li><strong>Right to Restriction of Processing:</strong> You have the right to request that we restrict the processing of your personal data under certain circumstances, such as when you contest the accuracy of the data or if the processing is unlawful.</li>
    <li><strong>Right to Data Portability:</strong> You have the right to request the transfer of your personal data to another data controller in a structured, commonly used, and machine-readable format, where technically feasible.</li>
    <li><strong>Right to Object:</strong> You have the right to object to the processing of your personal data based on legitimate interests or for direct marketing purposes. If you object to processing for direct marketing, we will cease processing your data for such purposes.</li>
    <li><strong>Right to Withdraw Consent:</strong> If we process your data based on your consent, you have the right to withdraw that consent at any time. Withdrawal of consent does not affect the lawfulness of processing based on consent before its withdrawal.</li>
</ul>

<p>If you are in the <strong>EEA, UK, or Switzerland</strong> and believe that your data is being processed unlawfully or if you have any concerns about how we handle your data, you have the right to lodge a complaint with the relevant data protection authority. In Switzerland, contact details for the data protection authorities can be found <a href="https://www.edoeb.admin.ch/edoeb/en/home/the-fdpic/contact.html" target="_blank" class="link-site">here</a>.</p>

<p><strong>Account Information:</strong> To access, correct, or delete your account information, or to exercise any other rights, please contact us using the details provided below. Note that upon account deletion, we may retain certain data to comply with legal obligations or resolve disputes, but such data will not be used for any other purposes.</p>

<p><strong>Opt-out:</strong> To opt out of marketing communications, you can use the unsubscribe link provided in those communications or contact us directly. For managing cookies, please adjust your browser settings. Be aware that disabling cookies may affect the functionality and user experience of the Site.</p>

<p>If you have any questions about your privacy rights or wish to exercise any of them, please contact us at <a href="mailto:woofdogs23@gmail.com" class="link-site">woofdogs23@gmail.com</a>.</p>

    <h2 id="do-not-track">10. Do Not Track (DNT) Signals</h2>

<p><em>In short:</em> Many browsers and some mobile systems offer a «Do Not Track» (DNT) feature to signal your preference not to be tracked online. Currently, there is no standardized technology for recognizing DNT signals. Therefore, we do not respond to DNT signals or other mechanisms indicating a preference not to be tracked. If a standard is adopted in the future, we will update this privacy notice to reflect that change.</p>

<h2 id="us-privacy-rights">11. Privacy Rights for Residents of California, Colorado, Connecticut, Utah, and Virginia</h2>

<h3>California:</h3>
<ul class="bulleted-list">
  <li><strong>California Consumer Privacy Act (CCPA)</strong>: Residents have the right to request information about categories of personal data shared with third parties for direct marketing and request deletion of public data if under 18. Requests must be submitted in writing.</li>
  <li><strong>Shine the Light Law (Section 1798.83)</strong>: Allows California residents to request information about personal data shared with third parties for direct marketing purposes.</li>
</ul>

<h3>Colorado:</h3>
<ul class="bulleted-list">
  <strong>Colorado Privacy Act (CPA)</strong>: Residents have the following rights:
    <ul class="bulleted-list">
      <li>Right to know if their personal data is processed.</li>
      <li>Right to access personal data.</li>
      <li>Right to correct inaccuracies.</li>
      <li>Right to delete personal data.</li>
      <li>Right to obtain a copy of personal data provided.</li>
      <li>Right to opt out of targeted advertising, data sales, or profiling that leads to significant decisions.</li>
    </ul>

</ul>

<h3>Connecticut:</h3>
<ul class="bulleted-list">
  <strong>Connecticut Data Privacy Act (CTDPA)</strong>: Residents have similar rights to those under the CPA, including:
    <ul class="bulleted-list">
      <li>Right to know if their personal data is processed.</li>
      <li>Right to access, correct, and delete personal data.</li>
      <li>Right to obtain a copy of personal data provided.</li>
      <li>Right to opt out of targeted advertising, data sales, or profiling.</li>
    </ul>

</ul>

<h3>Utah:</h3>
<ul class="bulleted-list">
  <strong>Utah Consumer Privacy Act (UCPA)</strong>: Residents have the following rights:
    <ul class="bulleted-list">
      <li>Right to know if their personal data is processed.</li>
      <li>Right to access personal data.</li>
      <li>Right to request deletion of personal data.</li>
      <li>Right to obtain a copy of personal data provided.</li>
      <li>Right to opt out of targeted advertising or data sales.</li>
    </ul>

</ul>

<h3>Virginia:</h3>
<ul class="bulleted-list">
  <strong>Virginia Consumer Data Protection Act (VCDPA)</strong>: Defines «consumer» as a resident acting in a personal context. Rights include:
    <ul class="bulleted-list">
      <li>Right to know if personal data is processed.</li>
      <li>Right to access personal data.</li>
      <li>Right to correct inaccuracies.</li>
      <li>Right to request deletion of personal data.</li>
      <li>Right to obtain a copy of personal data provided.</li>
      <li>Right to opt out of targeted advertising, data sales, or profiling.</li>
    </ul>

</ul>

<h3>Categories of Personal Data Collected in the Last 12 Months:</h3>
<table class="cookie-table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Examples</th>
      <th>Collected</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A. Identifiers</td>
      <td>Name, contact details, email, IP address</td>
      <td>No</td>
    </tr>
    <tr>
      <td>B. California Customer Records</td>
      <td>Name, contact info, education, employment, financial info</td>
      <td>No</td>
    </tr>
    <tr>
      <td>C. Protected Characteristics</td>
      <td>Gender, birthdate</td>
      <td>No</td>
    </tr>
    <tr>
      <td>D. Commercial Information</td>
      <td>Transactions, purchase history, financial data</td>
      <td>No</td>
    </tr>
    <tr>
      <td>E. Biometric Information</td>
      <td>Fingerprints, voiceprints</td>
      <td>No</td>
    </tr>
    <tr>
      <td>F. Internet Activity</td>
      <td>Browsing history, search history, interactions</td>
      <td>No</td>
    </tr>
    <tr>
      <td>G. Geolocation Data</td>
      <td>Device location</td>
      <td>No</td>
    </tr>
    <tr>
      <td>H. Audio/Visual Information</td>
      <td>Images, audio recordings</td>
      <td>No</td>
    </tr>
    <tr>
      <td>I. Professional Information</td>
      <td>Business contact details, qualifications</td>
      <td>No</td>
    </tr>
    <tr>
      <td>J. Education Information</td>
      <td>Student records, directory info</td>
      <td>No</td>
    </tr>
    <tr>
      <td>K. Inferences</td>
      <td>Profiles or summaries based on collected data</td>
      <td>No</td>
    </tr>
    <tr>
      <td>L. Sensitive Personal Information</td>
      <td>None</td>
      <td>No</td>
    </tr>
  </tbody>
</table>

<h3>Use and Disclosure of Personal Data:</h3>
<ul class="bulleted-list">
  <li>Personal data may be shared with service providers under contract.</li>
  <li>Data may be used for internal business purposes, such as technological development, but is not sold.</li>
</ul>

<h3>Rights Regarding Personal Data:</h3>
<ul class="bulleted-list">
  <li><strong>Deletion Request:</strong> You can request deletion of your personal information, with some legal exceptions.</li>
  <li><strong>Information Request:</strong> You have the right to know about the collection, use, and sharing of your personal data.</li>
  <li><strong>Non-Discrimination:</strong> You will not be discriminated against for exercising privacy rights.</li>
  <li><strong>Authorized Agents:</strong> Agents must provide proof of authorization to act on your behalf.</li>
</ul>

<h3>Verification Process:</h3>
<div>
  To process requests, your identity will be verified using information provided. Additional information may be requested for verification and then deleted.
</div>


<p>For any inquiries or to exercise your rights, contact us at <a href="mailto:woofdogs23@gmail.com" class="link-site">woofdogs23@gmail.com</a>.</p>

    <h2 id="updates">12. Do We Make Changes to This Notice?</h2>

<p><em>In short:</em> Yes, we will update this notice as necessary to comply with applicable laws.</p>

<p>We may update this privacy notice from time to time. The updated version will be marked with a new «Last updated» date, and the updated version will be effective as soon as it is available. If we make significant changes to this privacy notice, we may notify you by placing a notice of such changes in a prominent place or by sending you a direct notification.</p>

<p>We encourage you to frequently review this privacy notice to stay informed about how we are protecting your information.</p>

    <h2 id="contact-us">13. How Can You Contact Us About This Notice?</h2>

<p>If you have any questions or comments about this notice, you can reach us by email at <a href="mailto:woofdogs23@gmail.com" class="link-site">woofdogs23@gmail.com</a>.</p>

<h2 id="data-access">14. How Can You Access, Update, or Delete Data We Have About You?</h2>

<p>In accordance with applicable laws in your country, you may have the right to request access to the personal information we hold about you, to modify that information, or to delete it. To request access to, update, or delete your personal information, please contact us at <a href="mailto:woofdogs23@gmail.com" class="link-site">woofdogs23@gmail.com</a>.</p>


</div>
{% endblock %}