@media screen and (max-width: 767px) {
    .logo-text {
        text-align: left;
        margin: 10px 0px 0px 10px;
    }

    .letter {
        display: block;
    }

    .letter-w {
        font-size: 24px;
        margin-bottom: -7px;
    }

    .letter-d {
        font-size: 19px;
    }
    html, body {
        font-size: 14px;
        text-align: left;
    }
    ul.mainmenu li {
	    float: left;
	    margin: 18px 6px 0 6px;
/*	    display: flex;
        flex-direction: column;*/
        text-align: right;
    }
    ul.mainmenu li.last {
        float: right;
        margin-right: 15px;
        margin: 18px 6px 0 6px;
    }
    ul.mainmenu li.logo {margin-right: 10px;}
    ul.mainmenu li.last {float: right;
        margin-right: 10px;
    }
    ul.mainmenu {
	    font-size: 14px;
	}
	#breed-search {
        max-width: calc(80% - 10px);
        font-size: 12px;
    }
	.left-chapters ul {
	    width: 100px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 20px 0px 50px 0px;
    }

    .content-text {
	    margin: 10px 0 0 0px;
	    font-size: 13px;
    }
    ul.list-articles {
        flex-direction: row;
    }
    ul.list-articles li {
        flex: 1 1 100%;
        margin-bottom: 10px;
        height: 270px;
        margin: 0px 10px 10px 10px;
    }
    img.img-article-left {
        width: 180px;
        height: 300px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 130px;
        height: 160px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    div.article-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
    }

    div.article-panel p.first,
    div.article-panel p.last {
        margin: 0;
        padding: 0;
        width: auto;
    }
    div.article-panel p.first {
        margin-bottom: 0;
    }

    div.article-panel p.last {
        margin-bottom: 0;
    }
    .content-text h1, h2 {
        font-size: 16px;
        margin: 5px 0px;
        text-align: left;
    }
    . {
        font-size: 12px;
        margin: 10px 0px;
    }
    .form-decs {
        font-size: 13px;
    }
    p {
        margin: 10px 0px;
        width: 100%;
        text-align: justify;
    }

    #scroll-to-top {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .links-policies a {
        display: block;
        margin: 5px 0;
        font-size: 12px;
        text-align: left;
    }
    .rights {
        font-size: 12px;
        text-align: center;
    }
    ..cookie-table {
        display: block;
    }
    .cookie-table thead {
        display: none;
    }
    .cookie-table tbody {
        display: flex;
        flex-direction: column;
    }
    .cookie-table tr {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 1px;
    }

    .cookie-table td {
        display: block;
        padding: 8px 0;
        text-align: left;
        position: relative;
    }
    .cookie-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        background-color: #f4f4f4;
        border-right: 1px solid #444444;
        top: 0;
        text-align: left;
    }
    .cookie-table td {
        padding-left: 10%;
    }
    .policy-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-input {
        width: 220px;
        font-size: 10px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #breed-search {
        max-width: calc(80% - 10px);
        font-size: 12px;
    }
    #id_content, #id_care, #id_living_conditions{
        height: 40px;
        width: 220px;
    }
    #id_photo {
        width: 230px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_confirm_privacy {
        width: 15px;
        height: 15px;
    }
    #id_confirm_privacy:checked::before {
        font-size: 12px;
    }
    .consent-label {
        font-size: 10.5px;
    }
    #id_cat,
    #id_coat_type,
    #id_size,
    #id_trainability,
    #id_activity_level,
    #id_coat_length,
    #id_barking_level,
    #file-upload-button {
        font-size: 12px;
    }
    #id_captcha_1 {
        height: 40px;
        width: 80px;
        margin-left: 5px;
    }
    #theme-toggle {
        font-size: 30px;
    }
    .form-label {
        display: inline-block;
        min-width: 100px;
        vertical-align: top;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }
    .about-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-container {
        margin: 0px 10px 10px 10px;
        border: 1px solid #ffffff;
    }
    .post-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
   .my-posts-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
    .form-help-text {
        width: 340px;
    }

    #about-title {
        text-align: center;
    }
    .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #333;
  transition: transform 0.25s, background-color 0.25s;
}

.menu__btn > span::before {
  content: '';
  top: -9px;
}

.menu__btn > span::after {
  content: '';
  top: 9px;
}

.menu__box {
    position: absolute;
    top: 87px;
    left: -100%;
    width: 400px;
    height: calc(100% - 20px) !important;
    margin: 0;
    padding: 5px 5px;
    list-style: none;
    text-align: left;
    background-color: #FFFFFF;
    transition: left 0.25s;
    z-index: 999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #f9f2fa;
    border-right: 1px solid #f9f2fa;
    border-bottom: 1px solid #f9f2fa;
    border-left: none !important;
}


/* Menu */
.menu__item {
  padding: 2px 2px;
  color: #444444;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
.left-chapters ul li {
    margin: 10px 0 0 0;
}
.menu__item:hover {
  background-color: #FFFFFF;
}

.menu__item.selected {
  background-color: #FFFFFF;
}

/* Анимация кнопки при открытии меню */
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

/* Открытие меню */
#menu__toggle:checked ~ .menu__box {
  left: 0;
}

#btn-custom, p.link-read-post a {
        padding: 0.6rem 1.4rem;
        font-size: 12px;
        border-radius: 10px;
        bottom: 2px;
    }
    .btn-back {
        border-radius: 10px;
        padding: 0.6rem 1.4rem;
        font-size: 12px;
        bottom: 5px;
        top: 0px;
    }
    #scroll-to-top {
        font-size: 2.2rem;
        right: 10px;
    }
    .links-policies a {
        display: block;
        margin: 5px 0;
        font-size: 12px;
        text-align: left;
    }
    .rights {
        font-size: 12px;
        text-align: center;
    }
    .links-policies a {
        display: block;
        margin: 5px 0;
        font-size: 12px;
        text-align: left;
    }
    .rights {
        font-size: 12px;
        text-align: center;
    }
    .policies {
        font-size: 12px;
        text-align: center;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }
}


@media screen and (max-width: 344px) {
  html, body {
        font-size: 14px;
        text-align: left;
    }

    ul.mainmenu li {
	    float: left;
	    margin: 18px 6px 0 6px;
    }
    ul.mainmenu {
	    font-size: 14px;
	}
	#breed-search {
        max-width: calc(80% - 10px);
        font-size: 12px;
    }
	.left-chapters ul {
	    width: 100px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 20px 0px 50px 0px;
    }

    .content-text {
	    margin: 10px 0 0 0px;
	    font-size: 13px;
    }
    ul.list-articles {
        flex-direction: row;
    }

    ul.list-articles li {
        flex: 1 1 100%;
        margin-bottom: 10px;
        height: 270px;
        margin: 0px 10px 10px 10px;
    }
    img.img-article-left {
        width: 180px;
        height: 450px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 140px;
        height: 190px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    div.article-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

div.article-panel p.first,
div.article-panel p.last {
    margin: 0;
    padding: 0;
    width: auto;
}

div.article-panel p.first {
    margin-bottom: 0;
}

div.article-panel p.last {
    margin-bottom: 0;
}

    .content-text h1, h2 {
        font-size: 16px;
        margin: 5px 0px;
        text-align: left;
    }
    .index-descr {
        font-size: 13px;
        margin: 10px 0px;
    }
    .form-decs {
        font-size: 13px;
    }
    p {
        margin: 10px 0px;
        width: 100%;
        text-align: justify;
    }

    #scroll-to-top {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .links-policies a {
        display: block;
        margin: 5px 0;
        font-size: 12px;
        text-align: left;
    }
    .rights {
        font-size: 12px;
        text-align: center;
    }
    .cookie-table {
        display: block;
    }
    .cookie-table thead {
        display: none;
    }
    .cookie-table tbody {
        display: flex;
        flex-direction: column;
    }
    .cookie-table tr {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 1px;
    }

    .cookie-table td {
        display: block;
        padding: 8px 0;
        text-align: left;
        position: relative;
    }
    .cookie-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        background-color: #f4f4f4;
        border-right: 1px solid #444444;
        top: 0;
        text-align: left;
    }
    .cookie-table td {
        padding-left: 10%;
    }
    .policy-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-input {
        width: 220px;
        font-size: 10px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_content, #id_care, #id_living_conditions{
        height: 40px;
        width: 220px;
    }
    #id_photo {
        width: 230px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_confirm_privacy {
        width: 15px;
        height: 15px;
    }
    #id_confirm_privacy:checked::before {
        font-size: 12px;
    }
    .consent-label {
        font-size: 10.5px;
    }
    #id_captcha_1 {
        height: 40px;
        width: 80px;
        margin-left: 5px;
    }
    #id_cat,
    #id_coat_type,
    #id_size,
    #id_trainability,
    #id_activity_level,
    #id_barking_level,
    #id_coat_length,
    #file-upload-button {
        font-size: 10px;
    }
    .form-label {
        display: inline-block;
        min-width: 100px;
        vertical-align: top;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }
    .about-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-container {
        margin: 0px 10px 10px 10px;
        border: 1px solid #ffffff;
    }
   .post-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
   .my-posts-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
    .form-help-text {
        width: 340px;
    }

    #about-title {
        text-align: center;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }

}

@media screen and (max-width: 360px) {
  html, body {
        font-size: 14px;
        text-align: left;
    }

    ul.mainmenu li {
	    float: left;
	    margin: 18px 6px 0 6px;
    }
    ul.mainmenu {
	    font-size: 12px;
	}
	#breed-search {
        max-width: calc(80% - 10px);
        font-size: 12px;
    }
	.left-chapters ul {
	    width: 100px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 20px 0px 50px 0px;
    }

    .content-text {
	    margin: 10px 0 0 0px;
	    font-size: 13px;
    }
    ul.list-articles {
        flex-direction: row;
    }

    ul.list-articles li {
        flex: 1 1 100%;
        margin-bottom: 10px;
        height: 270px;
        margin: 0px 10px 10px 10px;
    }
    img.img-article-left {
        width: 180px;
        height: 450px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 140px;
        height: 190px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    div.article-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    }

    div.article-panel p.first,
    div.article-panel p.last {
        margin: 0;
        padding: 0;
        width: auto;
    }
    div.article-panel p.first {
        margin-bottom: 0;
    }
    div.article-panel p.last {
    margin-bottom: 0;
    }
    .content-text h1, h2 {
        font-size: 16px;
        margin: 5px 0px;
        text-align: left;
    }
    .index-descr {
        font-size: 12px;
        margin: 10px 0px;
    }
    .form-decs {
        font-size: 13px;
    }
    p {
        margin: 10px 0px;
        width: 100%;
        text-align: justify;
    }

    #scroll-to-top {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .links-policies a {
        display: block;
        margin: 5px 0;
        font-size: 12px;
        text-align: left;
    }
    .rights {
        font-size: 12px;
        text-align: center;
    }
    .cookie-table {
        display: block;
    }
    .cookie-table thead {
        display: none;
    }
    .cookie-table tbody {
        display: flex;
        flex-direction: column;
    }
    .cookie-table tr {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 1px;
    }

    .cookie-table td {
        display: block;
        padding: 8px 0;
        text-align: left;
        position: relative;
    }
    .cookie-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        background-color: #f4f4f4;
        border-right: 1px solid #444444;
        top: 0;
        text-align: left;
    }
    .cookie-table td {
        padding-left: 10%;
    }
    .policy-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-input {
        width: 220px;
        font-size: 10px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_content, #id_care, #id_living_conditions{
        height: 40px;
        width: 220px;
    }
    #id_photo {
        width: 230px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_confirm_privacy {
        width: 15px;
        height: 15px;
    }
    #id_confirm_privacy:checked::before {
        font-size: 12px;
    }
    .consent-label {
        font-size: 10.5px;
    }
    #id_cat,
    #id_coat_type,
    #id_size,
    #id_trainability,
    #id_activity_level,
    #id_barking_level,
    #id_coat_length,
    #file-upload-button {
        font-size: 12px;
    }
    #id_captcha_1 {
        height: 40px;
        width: 80px;
        margin-left: 5px;
    }
    .form-label {
        display: inline-block;
        min-width: 100px;
        vertical-align: top;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }
    .about-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-container {
        margin: 0px 10px 10px 10px;
        border: 1px solid #ffffff;
    }
    .post-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
   .my-posts-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
    .form-help-text {
        width: 340px;
    }


    #about-title {
        text-align: center;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }

}

@media screen and (max-width: 399px) {
  html, body {
        font-size: 14px;
        text-align: left;
    }

    ul.mainmenu li {
	    float: left;
	    margin: 18px 6px 0 6px;
    }
    ul.mainmenu {
	    font-size: 13px;
	}
	#breed-search {
        max-width: calc(80% - 10px);
        font-size: 12px;
    }
	.left-chapters ul {
	    width: 100px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 20px 0px 50px 0px;
    }

    .content-text {
	    margin: 10px 0 0 0px;
	    font-size: 13px;
    }
    ul.list-articles {
        flex-direction: row;
    }
    ul.list-articles li {
        flex: 1 1 100%;
        margin-bottom: 10px;
        height: 270px;
        margin: 0px 10px 10px 10px;
    }
    img.img-article-left {
        width: 200px;
        height: 300px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 140px;
        height: 190px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    div.article-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

div.article-panel p.first,
div.article-panel p.last {
    margin: 0;
    padding: 0;
    width: auto;
}

div.article-panel p.first {
    margin-bottom: 0;
}

div.article-panel p.last {
    margin-bottom: 0;
}

    .content-text h1, h2 {
        font-size: 16px;
        margin: 5px 0px;
        text-align: left;
    }
    .index-descr {
        font-size: 12px;
        margin: 10px 0px;
    }
    .form-decs {
        font-size: 13px;
    }
    p {
        margin: 10px 0px;
        width: 100%;
        text-align: justify;
    }

    #scroll-to-top {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .links-policies a {
        display: block;
        margin: 5px 0;
        font-size: 12px;
        text-align: left;
    }
    .rights {
        font-size: 12px;
        text-align: center;
    }
    .cookie-table {
        display: block;
    }
    .cookie-table thead {
        display: none;
    }
    .cookie-table tbody {
        display: flex;
        flex-direction: column;
    }
    .cookie-table tr {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 1px;
    }

    .cookie-table td {
        display: block;
        padding: 8px 0;
        text-align: left;
        position: relative;
    }
    .cookie-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 10px;
        font-weight: bold;
        background-color: #f4f4f4;
        border-right: 1px solid #444444;
        top: 0;
        text-align: left;
    }
    .cookie-table td {
        padding-left: 10%;
    }
    .policy-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-input{
        width: 220px;
        font-size: 10px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_content, #id_care, #id_living_conditions{
        height: 40px;
        width: 220px;
    }
    #id_photo {
        width: 230px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_confirm_privacy {
        width: 15px;
        height: 15px;
    }
    #id_confirm_privacy:checked::before {
        font-size: 12px;
    }
    .consent-label {
        font-size: 10.5px;
    }
    #id_cat,
    #id_coat_type,
    #id_size,
    #id_trainability,
    #id_activity_level,
    #id_barking_level,
    #id_coat_length,
    #file-upload-button {
        font-size: 10px;
    }
    #id_captcha_1 {
        height: 40px;
        width: 80px;
        margin-left: 5px;
    }
    .form-label {
        display: inline-block;
        min-width: 100px;
        vertical-align: top;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }
    .about-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-container {
        margin: 0px 10px 10px 10px;
        border: 1px solid #ffffff;
    }
    .post-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
   .my-posts-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
    .form-help-text {
        width: 340px;
    }


    #about-title {
        text-align: center;
    }
    .title-link {
        font-size: 14px;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }

}

@media screen and (max-width: 499px) {
  html, body {
        font-size: 14px;
        text-align: left;
    }

    ul.mainmenu li {
	    float: left;
	    margin: 18px 6px 0 6px;
    }
    ul.mainmenu {
	    font-size: 14px;
	}
	#breed-search {
        max-width: calc(80% - 10px);
        font-size: 12px;
    }
	.left-chapters ul {
	    width: 100px;
	    padding: 5px 5px 5px 5px;
	    font-size: 12px;
    }
    .content {
        padding: 20px 0px 50px 0px;
    }

    .content-text {
	    margin: 10px 0 0 0px;
	    font-size: 13px;
    }
    ul.list-articles {
        flex-direction: row;
    }

    ul.list-articles li {
        flex: 1 1 100%;
        margin-bottom: 10px;
        height: 270px;
        margin: 0px 10px 10px 10px;
    }
    img.img-article-left {
        width: 180px;
        height: 250px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 140px;
        height: 190px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    div.article-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

div.article-panel p.first,
div.article-panel p.last {
    margin: 0;
    padding: 0;
    width: auto;
}

div.article-panel p.first {
    margin-bottom: 0;
}

div.article-panel p.last {
    margin-bottom: 0;
}

    .content-text h1, h2 {
        font-size: 16px;
        margin: 5px 0px;
        text-align: left;
    }
    .index-descr {
        font-size: 13px;
        margin: 10px 0px;
    }
    .form-decs {
        font-size: 13px;
    }
    p {
        margin: 10px 0px;
        width: 100%;
        text-align: justify;
    }

    #scroll-to-top {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .links-policies a {
        display: block;
        margin: 5px 0;
        font-size: 10px;
        text-align: left;
    }
    .rights {
        font-size: 12px;
        text-align: center;
    }
    .cookie-table {
        display: block;
    }

    .cookie-table thead {
        display: none;
    }

    .cookie-table tbody {
        display: flex;
        flex-direction: column;
    }

    .cookie-table tr {
        display: block;
        margin-bottom: 5px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border-radius: 1px;
    }
    .cookie-table td {
        display: block;
        padding: 8px 0;
        text-align: left;
        position: relative;
    }

    .cookie-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-left: 5px;
        font-weight: bold;
        background-color: #f4f4f4;
        border-right: 1px solid #444444;
        top: 0;
        text-align: left;
    }
    .cookie-table td {
        padding-left: 10%;
    }
    .about-container {
        width: 300px;
        margin: 0 auto;
    }
    .form-container {
        margin: 0px 10px 10px 10px;
        border: 1px solid #ffffff;
    }
    .post-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
   .my-posts-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
    .form-help-text {
        width: 340px;
    }


    #about-title {
        text-align: center;
    }
    #id_cat,
    #id_coat_type,
    #id_size,
    #id_trainability,
    #id_activity_level,
    #id_barking_level,
    #id_coat_length,
    #file-upload-button {
        font-size: 12px;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }
    #breed-search {
        font-size: 13px;
        max-width: calc(80% - 10px);
    }


}

@media screen and (min-width: 712px) and (max-width: 912px) {
    .logo-text {
        text-align: left; /* Центрируем текст по горизонтали */
        margin: 10px 0px 0px 5px;
    }
  html, body {
        font-size: 15px;
        text-align: left;
    }

    ul.mainmenu li {
	    float: left;
	    margin: 18px 6px 0 6px;
    }
    ul.mainmenu {
	    font-size: 17px;
	}
	#breed-search {
        max-width: calc(80% - 10px);
        font-size: 15px;
    }
	.left-chapters ul {
	    width: 100px;
	    padding: 5px 5px 5px 5px;
	    font-size: 15px;
    }
    .content-text {
	    margin: 10px 0 0 0px;
	    font-size: 15px;
    }
    ul.list-articles {
        flex-direction: row;
    }
    ul.list-articles li {
        flex: 1 1 100%;
        margin-bottom: 10px;
        height: 270px;
        margin: 0px 10px 10px 10px;
    }

    img.img-article-left {
        width: 200px;
        height: 300px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 140px;
        height: 180px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    #btn-custom, p.link-read-post a {
        bottom: 2px;
    }
    div.article-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

div.article-panel p.first,
div.article-panel p.last {
    margin: 0;
    padding: 0;
    width: auto;
}

div.article-panel p.first {
    margin-bottom: 0;
}

div.article-panel p.last {
    margin-bottom: 0;
}

    .content-text h1, h2 {
        font-size: 16px;
        margin: 5px 0px;
        text-align: left;
    }

    .index-descr {
        font-size: 12px;
        margin: 10px 0px;
    }
    .form-decs {
        font-size: 15px;
    }
    p {
        margin: 10px 0px;
        width: 100%;
        text-align: justify;
        font-size: 15px;
    }
    .form-decs, .links-policies {
        margin: 0; /* Убираем отступы */
    }

    .links-policies {
        display: block;
        margin-top: 10px;
    }

    .links-policies a {
        display: block;
        margin: 5px 0;
    }

    #scroll-to-top {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .links-policies a {
        display: block;
        margin: 5px 0;
        font-size: 13px;
        text-align: left;
    }
    .rights {
        font-size: 15px;
        text-align: center;
    }

    .form-input {
        width: 220px;
        font-size: 15px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_content, #id_care, #id_living_conditions{
        height: 40px;
        width: 220px;
    }
    #id_photo {
        width: 230px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_confirm_privacy {
        width: 15px;
        height: 15px;
    }
    #id_confirm_privacy:checked::before {
        font-size: 15px;
    }
    .form-help-text {
        font-size: 10px;
    }
    .consent-label {
        font-size: 13px;
    }
    #id_captcha_1 {
        height: 40px;
        width: 80px;
        margin-left: 5px;
    }
    .form-label {
        display: inline-block;
        min-width: 100px;
        vertical-align: top;
        height: 20px;
        line-height: 20px;
        font-size: 15px;
    }
    .about-container {
        width: 620px;
        margin: 0 auto;
    }
    .form-container {
        margin: 0px 10px 10px 10px;
        border: 1px solid #ffffff;
    }
    .post-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
   .my-posts-container {
        padding: 10px;
        margin: 10px 10px 10px 10px;
   }
    .policy-container {
        width: 620px;
        margin: 0 auto;
    }
    .policies {
        font-size: 15px;
    }
    .form-help-text {
        width: 340px;
    }


    #about-title {
        text-align: center;
    }
    .btn-back {
        border-radius: 10px;
        padding: 8px 10px;
        font-size: 15px;
        bottom: 5px;
        top: 0px;
    }
    .content {
        padding: 20px 80px 20px 10px;
    }
    #id_cat,
    #id_coat_type,
    #id_size,
    #id_trainability,
    #id_activity_level,
    #id_barking_level,
    #id_coat_length,
    #file-upload-button {
        font-size: 15px;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }
    #breed-search {
        max-width: calc(100% - 5px);
    }
    }

@media screen and (min-width: 1024px) and (max-width: 1024px) {
    ul.list-articles li {
        flex: 1 1 100%;
        margin-bottom: 10px;
        height: 270px;
        margin: 0px 10px 10px 10px;
    }
    #breed-search {
        max-width: calc(50% - 10px);
        font-size: 16px;
    }
    .about-container {
        width: 630px;
    }
    .policy-container {
        width: 630px;
    }
    ul.mainmenu {
	    font-size: 20px;
	}
	.btn-back {
        border-radius: 10px;
        padding: 10px 15px;
        font-size: 15px;
        bottom: 5px;
        top: 0px;
    }
    .content {
        padding: 0px 80px 20px 10px;
    }
    .consent-label {
        font-size: 13px;
    }
    .form-input {
        width: 220px;
    }
    #id_content, #id_care, #id_living_conditions{
        width: 220px;
    }
    #id_photo {
        width: 220px;
        font-size: 10px;
    }
    img.img-article-left {
        width: 160px;
        height: 220px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 140px;
        height: 160px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    .logo-text {
        text-align: left; /* Центрируем текст по горизонтали */
        margin: 10px 0px 0px 5px;
    }
    ul.list-articles li {
        flex: 1 1 100%;
        margin-bottom: 10px;
        height: 270px;
        width: 500px;
        margin: 0px 10px 10px 10px;
    }
    .about-container {
        width: 500px;
    }
    .policy-container {
        width: 500px;
    }
    ul.mainmenu {
	    font-size: 16px;
	}
	#breed-search {
        max-width: calc(80% - 5px);
        font-size: 15px;
    }
	#btn-custom, p.link-read-post a {
        padding: 0.6rem 1.4rem;
        font-size: 12px;
        border-radius: 10px;
        bottom: 2px;
    }
    .btn-back {
        border-radius: 10px;
        padding: 0.5rem 1.4rem;
        font-size: 12px;
        bottom: 5px;
        top: 0px;
    }
    ul.mainmenu li {
	    float: left;
	    margin: 18px 15px 0 15px;
    }
    .content {
        padding: 20px 80px 20px 10px;
    }
    img.img-article-left {
        width: 200px;
        height: 300px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 140px;
        height: 180px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }

}

@media screen and (max-width: 320px) {
    img.img-article-left {
        width: 140px;
        height: 170px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 130px;
        height: 170px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    ul.mainmenu {
        font-size: 11px;
	}
	#breed-search {
        max-width: calc(80% - 5px);
        font-size: 13px;
    }
	.about-container {
        width: 230px;
        margin: 0 auto;
    }

    .post-container {
        width: 250px;
        margin: 0 auto;
   }
   .my-posts-container {
        width: 250px;
        margin: 0 auto;
   }
   .policy-container {
        width: 250px;
        margin: 0 auto;
   }
   .form-input {
        width: 190px;
        font-size: 10px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #444444;
    }
    #id_content, #id_care, #id_living_conditions{
        height: 40px;
        width: 190px;
    }
    #id_photo {
        width: 190px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #444444;
        font-size: 10px;
    }
    #id_confirm_privacy {
        width: 15px;
        height: 15px;
    }
    #id_confirm_privacy:checked::before {
        font-size: 12px;
    }
    .consent-label {
        font-size: 9px;
    }
    #id_captcha_1 {
        height: 40px;
        width: 80px;
        margin-left: 5px;
    }
    #id_cat,
    #id_coat_type,
    #id_size,
    #id_trainability,
    #id_activity_level,
    #id_barking_level,
    #id_coat_length,
    #file-upload-button {
        font-size: 10px;
    }
    .form-decs {
        font-size: 13px;
    }

    .index-descr {
        font-size: 11px;
        margin: 10px 0px;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }
}
@media screen and (max-width: 280px) {
    html, body {
        font-size: 12px;
    }
    ul.mainmenu {
	    font-size: 9px;
	}
	#breed-search {
        max-width: calc(80% - 10px);
        font-size: 10px;
    }
	.policy-container {
        width: 220px;
    }
    .index-descr {
        font-size: 10px;
        margin: 10px 0px;
    }
    img.img-article-left {
        width: 160px;
        height: 200px;
        object-fit: cover;
        float: left;
        padding: 0 10px 10px 0px;
        cursor: pointer;
    }
    img.thumb {
        width: 130px;
        height: 160px;
        object-fit: cover;
        padding: 0 10px 10px 0;
        cursor: auto;
        float: left;
    }
    ul.list-articles li:nth-of-type(odd):nth-last-of-type(1) {
        flex: 1 1 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        text-align: left;
        margin: 0px 10px 10px 10px;
    }
}